### SDC Profile

### What features are driving student success in SDC application?

In [1]:
import psycopg2
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
question = pd.read_csv('admissions questions-nd013.csv')

### Exclude cohort 7
### Cohorts considered here: 47, 88, 89, 18  -- closed on Feb 21st

### Hypothesis Tests on Topics:
* Gender
* Degree relevant
* Education
* Education institution
* Professional experience
* Employer
* Employment
* Python
* C++
* Programming skills
* Theory skills
* Time commitment
* GitHub / linkedin account
* Goal
* Purpose
* Phone
* Location

### Result:

1. What works:
    * Education : phd > master > bachelor
    * Professional Experience: longer years of experience --> more tend to pay; but not necessarily completion rate; fpr completion rate, 5+ years > less than 1 year > 1-2 years > 3-5 years
    * Python: 
         * more experience --> more tend to pay; but not necessarily completion rate
         * for completion rate, students who have intermediate python experience have highest completion rate (1-2 years then 2+ years given measurement of years; level 3 then level 4 given measurement of levels)
         * we have 2600-ish students were asked using year measurement, 380-ish students were asked using level measurement. no significant difference detected yet. one thing worth mentioning is level measurement separates level 1 and higher better, and year measurement can only separate with and without experience.
    * C++: 
         * works well to predict payment (more experience --> more tend to pay)
         * not a good indicator for completion (students has no experience has a pretty good completion rate)
         * in terms of measurement of years or levels, same as python is level measurement has a better separation of completion rate than years
    * Purpose: grow skills for my current role > start a new career in this field / help move from academia to industry > general interest in the topic (personal growth...)
2. What not works:
    * Degree Relevant (question_id: cad2565e-8176-44b5-9080-14cfc67ea9b4)
    * Employment (fba3666b-db04-46e9-8f3d-2a303f13e0a5)
    * Programming Skills (e.g. depth-first search and breadth-first search, balanced trees. etc..)
    * Theory Skills (e.g. machine learning, calculus, linear algebra, probability and statistics, etc...)

### Findings:

1. Gender:
    * 1/3 of both male (35%) and female (33%) paid after being accepted
    * term completion rate of male is a little bit higher than female (50% vs. 44%)
2. Degree Relevant
    * no specific degrees impact payment after accepted
    * no specific degrees impact term completion
3. Education
    * PhD has 50% paid, followed by Master 39% (Bachelor 31%)
    * PhD has 57% term completion, followed by Master 51% (Bachelor 44%)
4. Professional Experience
    * 5+ years has 42% paid, followed by 3-5 years 37% (1-2+ years 33%)
    * 5+ years has 50% term completion, followed by < 1 year 49%, then 1-2+ years 49%, then 3-5 years 48%
5. Employment
    * not significant
6. Python
    * for payment, it seems the higher python experience is, the higher rate to pay
    * for term completion, separate by groups:
        * group 1 : use year as measurement (bigger group with 2600-ish students paid)
             * 1-2 years (51%) > 2+ years (51%) > < 1 year (50%) > no experience (36%)
        * group 2 : use level as measurement (smaller group with 380-ish students paid)
             * level 0 (2 out of 3) > level 3 (44%) > level 4 (43%) > level 2 (43%) > level 1 (20%)
7. C++
    * for payment, same as python, the higher experience, the higher rate to pay
    * for term completion, at lower groups are level 0,1,2; even no prior experience has a very good completion rate
8. Programming Skills (e.g. depth-first search and breadth-first search, balanced trees. etc..)
    * payment, as along as student selected at least one, paid rate is similar
    * term completion, no winner, as along as student selected at least one, completion rate is similar
9. Theory Skill (e.g. machine learning, calculus, linear algebra, probability and statistics, etc...)
    * payment: as long as one is selected, pay rate is not that different. highest is machine learning (38%) and lowest is computer science (36%)
    * term completion: 17 students selected "none of the above" and 9 of them completed term;  same as payment, machine learning (53%), computer science (49%)
10. Purpose
    * grow skills for my current role > start a new career in this field / help move from academia to industry > general interest in the topic (personal growth...)

In [3]:
sql_1 = """
SELECT distinct a.id,a.applicant_id,a.cohort_id,a.cohort_open_at,a.cohort_close_at,a.cohort_start_at
      ,a.application_created_at,a.submitted_at,a.accepted_at,a.first_charge_created_at
      ,'{tag}' AS tag,coalesce(lower(q.response),'no response') AS response
      ,CASE WHEN grad.graduated_at IS NOT NULL THEN 'graduated'
            WHEN b.user_id IS NOT NULL THEN 'term completed'
            WHEN a.first_charge_created_at IS NOT NULL THEN 'paid'
       ELSE 'accepted'
       END AS status
      ,CASE WHEN a.first_charge_created_at IS NOT NULL THEN 'paid' ELSE 'accepted' END AS paid_status
FROM applications a
LEFT JOIN admissions.question_responses q 
  ON a.id = q.application_id AND q.question_id IN ({question})
  AND a.cohort_id = q.cohort_id
LEFT JOIN registrar_v2.graduations grad ON a.applicant_id = grad.user_key AND a.nd_key = grad.nd_key
LEFT JOIN enrollments.term_completions AS b ON a.applicant_id = b.user_id AND a.nd_key = b.nd_key
WHERE a.nd_key = 'nd013' AND a.cohort_id in ('47','88','89','18')
  AND a.application_status = 'accept';
"""
sql_2 = """
SELECT distinct a.id,a.applicant_id,a.cohort_id,a.cohort_open_at,a.cohort_close_at,a.cohort_start_at
      ,a.application_created_at,a.submitted_at,a.accepted_at,a.first_charge_created_at
      ,'{tag}' AS tag,regexp_split_to_table(coalesce(lower(q.response),'no response'), ', ') as response
      ,CASE WHEN grad.graduated_at IS NOT NULL THEN 'graduated'
            WHEN b.user_id IS NOT NULL THEN 'term completed'
            WHEN a.first_charge_created_at IS NOT NULL THEN 'paid'
       ELSE 'accepted'
       END AS status
      ,CASE WHEN a.first_charge_created_at IS NOT NULL THEN 'paid' ELSE 'accepted' END AS paid_status
FROM applications a
LEFT JOIN admissions.question_responses q 
  ON a.id = q.application_id AND q.question_id IN ({question})
  AND a.cohort_id = q.cohort_id
LEFT JOIN registrar_v2.graduations grad ON a.applicant_id = grad.user_key AND a.nd_key = grad.nd_key
LEFT JOIN enrollments.term_completions AS b ON a.applicant_id = b.user_id AND a.nd_key = b.nd_key
WHERE a.nd_key = 'nd013' AND a.cohort_id in ('47','88','89','18')
  AND a.application_status = 'accept';
"""

In [4]:
laurel = open('conn_laurel.txt', 'r')
conn_laurel = psycopg2.connect(laurel.read())

_list = ['gender','degree relevant','education','education institution','professional experience','employer','employment','python','C++','programming skills','theory skills','time commitment','goal','purpose','phone','location']

for i in _list:
    print('\n')
    print('Running: ',i)
    question_list = ','.join(np.unique("'"+question[question['tag']==i]['question_id']+"'"))
    if np.unique(question[question['tag']==i]['one-hot'])=='Y':
        sql = sql_2.format(tag=i,question=question_list)
    else:
        sql = sql_1.format(tag=i,question=question_list)
    df = pd.read_sql(sql,conn_laurel)
    
    paid = pd.pivot_table(df,values='id',index=['response'],columns=['paid_status'],aggfunc=np.count_nonzero).reset_index().fillna(0)
    paid['paid/accept'] = paid['paid']/paid['accepted']
    paid['paid_rate'] = paid['paid']/(paid['paid']+paid['accepted'])
    print('\n')
    print('paid in accept')
    print(paid.sort_values(by='paid/accept',ascending=False))
    
    grad = pd.pivot_table(df,values='id',index=['response'],columns=['status'],aggfunc=np.count_nonzero).reset_index().fillna(0)
    grad['term_completed_total'] = grad['term completed']+grad['graduated']
    grad['term_completed_total/paid'] = grad['term_completed_total']/grad['paid']
    grad['term_completion_rate'] = grad['term_completed_total']/(grad['term_completed_total']+grad['paid'])
    print('\n')
    print('term completed in paid')
    print(grad.sort_values(by='term_completed_total/paid',ascending=False))

Running:  gender

/anaconda/lib/python3.6/site-packages/numpy/lib/arraysetops.py:216: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  flag = np.concatenate(([True], aux[1:] != aux[:-1]))

paid in accept
paid_status                 response  accepted  paid  paid/accept  paid_rate
4             prefer not to disclose        73    42     0.575342   0.365217
1                               male      4723  2593     0.549015   0.354429
0                             female       416   209     0.502404   0.334400
2                        no response        71    30     0.422535   0.297030
5            prefer to self-describe        18     6     0.333333   0.250000
3                         non binary        35     5     0.142857   0.125000


term completed in paid
status                 response  accepted  graduated    paid  term completed  \
2                   no response      70.0        0.0    15.0            16.0
3                    non binary      34.0        0.0     3.0             3.0
1                          male    4631.0       25.0  1355.0          1305.0
4        prefer not to disclose      72.0        0.0    23.0            20.0
0                        female     402.0        0.0   124.0            99.0
5       prefer to self-describe      18.0        0.0     4.0             2.0

status  term_completed_total  term_completed_total/paid  term_completion_rate
2                       16.0                   1.066667              0.516129
3                        3.0                   1.000000              0.500000
1                     1330.0                   0.981550              0.495345
4                       20.0                   0.869565              0.465116
0                       99.0                   0.798387              0.443946
5                        2.0                   0.500000              0.333333


Running:  degree relevant


paid in accept
paid_status                             response  accepted    paid  \
5                                          other     401.0   268.0
2                                    mathematics    1020.0   629.0
1                                    engineering    3448.0  1926.0
0                               computer science    3018.0  1556.0
4            not related/relevant to nanodegree.     147.0    73.0
3                                    no response       2.0     0.0

paid_status  paid/accept  paid_rate
5               0.668329   0.400598
2               0.616667   0.381443
1               0.558585   0.358392
0               0.515573   0.340184
4               0.496599   0.331818
3               0.000000   0.000000


term completed in paid
status                             response  accepted  graduated   paid  \
1                               engineering    3371.0       15.0  986.0
2                               mathematics    1000.0        9.0  330.0
0                          computer science    2958.0       16.0  825.0
5                                     other     394.0        3.0  141.0
4       not related/relevant to nanodegree.     146.0        0.0   51.0
3                               no response       2.0        0.0    0.0

status  term completed  term_completed_total  term_completed_total/paid  \
1               1002.0                1017.0                   1.031440
2                310.0                 319.0                   0.966667
0                775.0                 791.0                   0.958788
5                131.0                 134.0                   0.950355
4                 23.0                  23.0                   0.450980
3                  0.0                   0.0                        NaN

status  term_completion_rate
1                   0.507738
2                   0.491525
0                   0.489480
5                   0.487273
4                   0.310811
3                        NaN


Running:  education


paid in accept
paid_status            response  accepted    paid  paid/accept  paid_rate
5                           phd     426.0   384.0     0.901408   0.474074
2               master's degree    2248.0  1411.0     0.627669   0.385624
4                         other     107.0    56.0     0.523364   0.343558
0             bachelor's degree    2084.0   925.0     0.443858   0.307411
1            high school degree     470.0   109.0     0.231915   0.188256
3                   no response       1.0     0.0     0.000000   0.000000


term completed in paid
status            response  accepted  graduated   paid  term completed  \
5                      phd     408.0        4.0  172.0           226.0
2          master's degree    2199.0       12.0  710.0           738.0
0        bachelor's degree    2046.0        9.0  544.0           410.0
4                    other     106.0        0.0   33.0            24.0
1       high school degree     467.0        0.0   65.0            47.0
3              no response       1.0        0.0    0.0             0.0

status  term_completed_total  term_completed_total/paid  term_completion_rate
5                      230.0                   1.337209              0.572139
2                      750.0                   1.056338              0.513699
0                      419.0                   0.770221              0.435099
4                       24.0                   0.727273              0.421053
1                       47.0                   0.723077              0.419643
3                        0.0                        NaN                   NaN


Running:  education institution


paid in accept
paid_status                                           response  accepted  \
2237                                                      nctu       0.0
1440                           indian school of mines, dhanbad       0.0
1464                                               insead, mba       0.0
1462                                          insa of toulouse       0.0
1461                  insa lyon (engineering school in france)       0.0
1459                                              inpg, france       0.0
1454         information and telecommunication of engineeri...       0.0
1453                                     informatics institute       0.0
1451                indraprastha institute of technology delhi       0.0
1449                            indira institute of technology       0.0
3540                                university college dublin        0.0
3543                           university college london (ucl)       0.0
1438                    indian institute of technology- madras       0.0
1467         institut national des sciences appliquées de l...       0.0
3547                                 university duisburg-essen       0.0
3548                             university erlangen-nuremburg       0.0
1434             indian institute of technology, madras, india       0.0
1433         indian institute of technology, madras, chenna...       0.0
1429             indian institute of technology, kanpur, india       0.0
3550                       university high school in australia       0.0
3551                                         university munich       0.0
3554            university of "dunarea de jos" galati, romania       0.0
3555                                    university of aberdeen       0.0
1421             indian institute of technology, bombay, india       0.0
3531                                universiti malaysia perlis       0.0
1469                     institut teknologi bandung, indonesia       0.0
3558                                     university of alabama       0.0
3507                              universidade sao judas tadeu       0.0
3482                         universidade católica de brasília       0.0
3485                           universidade de são paulo - usp       0.0
...                                                        ...       ...
1836                                     lilawati vidya mandir       1.0
1837                  lincoln university, lincoln, new zealand       1.0
1803                  lahore university of management sciences       4.0
1800                                      la trobe university        1.0
1764                                     krishna public school       1.0
1799                                       la trobe university       1.0
1765                                                       kth       3.0
1766                          kth royal insitute of technology       1.0
1767                       kth royal instititute of technology       1.0
1770                                                 ku leuven       1.0
1771                                                  kuleuven       1.0
1772                    kumoh national institute of technology       1.0
1773              kunming university of science and technology       1.0
1775                                    kurukshetra university       1.0
1776                                   kurukshetra university.       1.0
1777         kwame nkrumah university of science and techno...       1.0
1778                               kwangwoon univ. south korea       1.0
1779                                   kyambogo college school       1.0
1781                 kyiv national taras shevchenko university       1.0
1786                           kyrgyz-turkish manas university       1.0
1787                    kyung-nam foreign language high school       1.0
1788                                            kyungbook univ       1.0
1790                                l d college of engineering       1.0
1792                               l.d. college of engineering       1.0
1793              l.j. institute of engineering and technology       1.0
1794                                     la mirada high school       1.0
1795                                      la salle green hills       1.0
1796                                       la salle university       1.0
1798                 la sapienza - vrije universiteit brussels       1.0
4474                                                陕西工业职业技术学院       1.0

paid_status  paid  paid/accept  paid_rate
2237          3.0          inf        1.0
1440          1.0          inf        1.0
1464          1.0          inf        1.0
1462          1.0          inf        1.0
1461          1.0          inf        1.0
1459          1.0          inf        1.0
1454          1.0          inf        1.0
1453          1.0          inf        1.0
1451          1.0          inf        1.0
1449          1.0          inf        1.0
3540          1.0          inf        1.0
3543          1.0          inf        1.0
1438          1.0          inf        1.0
1467          1.0          inf        1.0
3547          2.0          inf        1.0
3548          1.0          inf        1.0
1434          1.0          inf        1.0
1433          1.0          inf        1.0
1429          1.0          inf        1.0
3550          1.0          inf        1.0
3551          1.0          inf        1.0
3554          1.0          inf        1.0
3555          1.0          inf        1.0
1421          1.0          inf        1.0
3531          1.0          inf        1.0
1469          2.0          inf        1.0
3558          1.0          inf        1.0
3507          1.0          inf        1.0
3482          1.0          inf        1.0
3485          1.0          inf        1.0
...           ...          ...        ...
1836          0.0     0.000000        0.0
1837          0.0     0.000000        0.0
1803          0.0     0.000000        0.0
1800          0.0     0.000000        0.0
1764          0.0     0.000000        0.0
1799          0.0     0.000000        0.0
1765          0.0     0.000000        0.0
1766          0.0     0.000000        0.0
1767          0.0     0.000000        0.0
1770          0.0     0.000000        0.0
1771          0.0     0.000000        0.0
1772          0.0     0.000000        0.0
1773          0.0     0.000000        0.0
1775          0.0     0.000000        0.0
1776          0.0     0.000000        0.0
1777          0.0     0.000000        0.0
1778          0.0     0.000000        0.0
1779          0.0     0.000000        0.0
1781          0.0     0.000000        0.0
1786          0.0     0.000000        0.0
1787          0.0     0.000000        0.0
1788          0.0     0.000000        0.0
1790          0.0     0.000000        0.0
1792          0.0     0.000000        0.0
1793          0.0     0.000000        0.0
1794          0.0     0.000000        0.0
1795          0.0     0.000000        0.0
1796          0.0     0.000000        0.0
1798          0.0     0.000000        0.0
4474          0.0     0.000000        0.0

[4475 rows x 5 columns]


term completed in paid
status                                           response  accepted  \
1        ghulam ishaq university of engineering and sc...       0.0
2570                           queens university belfast        0.0
2490                               polytechnique montreal       0.0
2492                                       pomona college       1.0
2496           pontifical catholic university of campinas       0.0
2502                    pontificia universidad javeriana        0.0
2505    pontifícia universidade católica do rio grande...       1.0
2516                                            princeton       0.0
2521    prof. ram meghe institute of technology and re...       0.0
2522                            psg college of technology       3.0
2531                                               puc-rj       0.0
2532                                      puc-rj (brazil)       0.0
2549    purdue university bs computer engineering & bs...       0.0
2553                    purdue university, west lafayette       0.0
2554                            pusan national university       0.0
2567                                   queen's university       1.0
2571                  queensland university of technology       0.0
2483                      polytechnic university of milan       0.0
2574                       r.n.s. institute of technology       0.0
2579                                     rahmat shoureshi       0.0
2593                               ramon llull university       0.0
2595                          rcc institute of technology       0.0
2600        regional engineering college, rourkela, india       0.0
2614                    ritsumeikan university (in japan)       0.0
2632    rosenheim university of applied sciences - bay...       0.0
2642          rural engineering college, karnataka, india       0.0
2662                               rwth aachen university       4.0
2663    rwth aachen university (ph.d from tu hamburg u...       0.0
2667                                  ryerson university        0.0
2669                                  saarland university       2.0
...                                                   ...       ...
4429           yew chung international school of shanghai       1.0
4432                        ymca institute of engineering       1.0
4433                                      ymca university       1.0
4437                                      yuen-kuei hsueh       1.0
4438                          yıldız technical university       1.0
4439                                   zagazig university       2.0
4440                                  zeppelin university       1.0
4442                                        zhejiang univ       1.0
4444                    zhejiang university of technology       1.0
4446                          zhejiang university, china        1.0
4448                            zhengzhou of  university        1.0
4449                                 zhengzhou university       1.0
4450                            zhuhai no.1 middle school       1.0
4452                                                 zjut       1.0
4453    école nationale des sciences appliquées de tan...       1.0
4455    école pour l'informatique et les techniques av...       1.0
4456    école supérieure privée d'ingénierie et de tec...       1.0
4458                                            东华大学(dhu)       1.0
4459                                                 中山大学       1.0
4460                                               北京理工大学       3.0
4462                                               大连交通大学       1.0
4463                                                 山西大学       1.0
4464                                                  杨智凯       1.0
4466                                               武汉科技大学       1.0
4467                                                 江苏大学       1.0
4468                                               沈阳工业大学       1.0
4471                                            百度&google       1.0
4472                                               西化师范大学       1.0
4473                                                 西南师大       1.0
4474                                           陕西工业职业技术学院       1.0

status  graduated  paid  term completed  term_completed_total  \
1             0.0   0.0             1.0                   1.0
2570          0.0   0.0             1.0                   1.0
2490          0.0   0.0             1.0                   1.0
2492          0.0   0.0             1.0                   1.0
2496          0.0   0.0             1.0                   1.0
2502          0.0   0.0             1.0                   1.0
2505          0.0   0.0             1.0                   1.0
2516          0.0   0.0             1.0                   1.0
2521          0.0   0.0             1.0                   1.0
2522          0.0   0.0             1.0                   1.0
2531          0.0   0.0             1.0                   1.0
2532          0.0   0.0             1.0                   1.0
2549          0.0   0.0             1.0                   1.0
2553          0.0   0.0             1.0                   1.0
2554          0.0   0.0             1.0                   1.0
2567          0.0   0.0             1.0                   1.0
2571          0.0   0.0             1.0                   1.0
2483          0.0   0.0             1.0                   1.0
2574          0.0   0.0             1.0                   1.0
2579          0.0   0.0             1.0                   1.0
2593          0.0   0.0             1.0                   1.0
2595          0.0   0.0             1.0                   1.0
2600          0.0   0.0             1.0                   1.0
2614          0.0   0.0             1.0                   1.0
2632          0.0   0.0             1.0                   1.0
2642          0.0   0.0             1.0                   1.0
2662          0.0   0.0             3.0                   3.0
2663          0.0   0.0             1.0                   1.0
2667          0.0   0.0             1.0                   1.0
2669          0.0   0.0             1.0                   1.0
...           ...   ...             ...                   ...
4429          0.0   0.0             0.0                   0.0
4432          0.0   0.0             0.0                   0.0
4433          0.0   0.0             0.0                   0.0
4437          0.0   0.0             0.0                   0.0
4438          0.0   0.0             0.0                   0.0
4439          0.0   0.0             0.0                   0.0
4440          0.0   0.0             0.0                   0.0
4442          0.0   0.0             0.0                   0.0
4444          0.0   0.0             0.0                   0.0
4446          0.0   0.0             0.0                   0.0
4448          0.0   0.0             0.0                   0.0
4449          0.0   0.0             0.0                   0.0
4450          0.0   0.0             0.0                   0.0
4452          0.0   0.0             0.0                   0.0
4453          0.0   0.0             0.0                   0.0
4455          0.0   0.0             0.0                   0.0
4456          0.0   0.0             0.0                   0.0
4458          0.0   0.0             0.0                   0.0
4459          0.0   0.0             0.0                   0.0
4460          0.0   0.0             0.0                   0.0

paid in accept
paid_status                           response  accepted    paid  paid/accept  \
2                                     5+ years    1885.0  1378.0     0.731034
1                                    3-5 years     869.0   512.0     0.589183
0                                   1-2+ years    1174.0   575.0     0.489779
3                                     < 1 year     777.0   282.0     0.362934
4            i have no professional experience     630.0   138.0     0.219048
5                                  no response       1.0     0.0     0.000000

paid_status  paid_rate
2             0.422311
1             0.370746
0             0.328759
3             0.266289
4             0.179688
5             0.000000


term completed in paid
status                           response  accepted  graduated   paid  \
2                                5+ years    1829.0       13.0  712.0
3                                < 1 year     766.0        3.0  149.0
0                              1-2+ years    1147.0        5.0  309.0
1                               3-5 years     858.0        3.0  272.0
4       i have no professional experience     626.0        1.0   82.0
5                             no response       1.0        0.0    0.0

status  term completed  term_completed_total  term_completed_total/paid  \
2                709.0                 722.0                   1.014045
3                141.0                 144.0                   0.966443
0                288.0                 293.0                   0.948220
1                248.0                 251.0                   0.922794
4                 59.0                  60.0                   0.731707
5                  0.0                   0.0                        NaN

status  term_completion_rate
2                   0.503487
3                   0.491468
0                   0.486711
1                   0.479924
4                   0.422535
5                        NaN


Running:  employer


paid in accept
paid_status                                           response  accepted  \
2885                                              livehouse.in       0.0
2793                              l&t technology services ltd.       0.0
2772                                                 krnl labs       0.0
2774                                                  krumedia       0.0
2775                                                       kss       0.0
2781                                                 kudos doo       0.0
2785                                     kumon tutoring center       0.0
2786                                                kunsoo huh       0.0
2787                                            kutir mobility       0.0
2790                                                kyyba inc.       0.0
2794                                                       l-3       0.0
2826                                           leapforce, inc.       0.0
2795                                                 laas cnrs       0.0
2797                                                     lab49       0.0
2800                    laboratoire d'informatique de grenoble       0.0
2804                                        laird technologies       0.0
2809                                            landed experts       0.0
2812                                                  lanteria       0.0
2814                              larkin street youth services       0.0
2819                                     lattice semiconductor       0.0
2768                                            kpn consulting       0.0
2763                                      kpit infosystems inc       0.0
2758                                      korean police agency       0.0
2757         korea advanced institute of science and techno...       0.0
2696                                      kettering university       0.0
2701                                                 kfs group       0.0
2705                                               kickback as       0.0
2706                                           kii corporation       0.0
2708                                            kimberly moore       0.0
2710                                                kinemetrix       0.0
...                                                        ...       ...
2997                       mapmyindia/ce info system pvt. ltd.       1.0
2996                                        mapmyindia pvt ltd       1.0
851                                                      cesar       2.0
2964                                                     magna       1.0
857                                                cfo network       1.0
855                                                       cevt       1.0
2969                                        magnet automation        1.0
854                                               cetitec gmbh       1.0
853                                                  cetcocean       1.0
2972                                                    mahesh       1.0
2973                                                  mahindra       1.0
2974                                       mahindra & mahindra       1.0
2976                                mahindra and mahindra ltd.       1.0
2977                                   mahindra ecole centrale       1.0
2978                            mahindra susten pvt ltd mumbai       1.0
2980                                               mai fanjing       1.0
2995                                                mapmyindia       1.0
850                                          certeza fundación       1.0
2984                                             malachite inc       1.0
2985                                                 mama wosh       1.0
2986                                                   manager       1.0
847                                                       cern       1.0
2988                                      manhattan associates       1.0
2989                           manipal institute of technology       1.0
2990                                 manipal university jaipur       1.0
2991                                               mann hummel       1.0
2992                                         mantica solutions       1.0
2993                                                 mantra ai       1.0
846                                                    cermati       1.0
0                                                                    3.0

paid_status  paid  paid/accept  paid_rate
2885          1.0          inf        1.0
2793          1.0          inf        1.0
2772          1.0          inf        1.0
2774          1.0          inf        1.0
2775          1.0          inf        1.0
2781          1.0          inf        1.0
2785          1.0          inf        1.0
2786          1.0          inf        1.0
2787          1.0          inf        1.0
2790          1.0          inf        1.0
2794          1.0          inf        1.0
2826          1.0          inf        1.0
2795          1.0          inf        1.0
2797          1.0          inf        1.0
2800          1.0          inf        1.0
2804          1.0          inf        1.0
2809          1.0          inf        1.0
2812          1.0          inf        1.0
2814          1.0          inf        1.0
2819          1.0          inf        1.0
2768          1.0          inf        1.0
2763          1.0          inf        1.0
2758          1.0          inf        1.0
2757          1.0          inf        1.0
2696          1.0          inf        1.0
2701          1.0          inf        1.0
2705          1.0          inf        1.0
2706          1.0          inf        1.0
2708          1.0          inf        1.0
2710          1.0          inf        1.0
...           ...          ...        ...
2997          0.0     0.000000        0.0
2996          0.0     0.000000        0.0
851           0.0     0.000000        0.0
2964          0.0     0.000000        0.0
857           0.0     0.000000        0.0
855           0.0     0.000000        0.0
2969          0.0     0.000000        0.0
854           0.0     0.000000        0.0
853           0.0     0.000000        0.0
2972          0.0     0.000000        0.0
2973          0.0     0.000000        0.0
2974          0.0     0.000000        0.0
2976          0.0     0.000000        0.0
2977          0.0     0.000000        0.0
2978          0.0     0.000000        0.0
2980          0.0     0.000000        0.0
2995          0.0     0.000000        0.0
850           0.0     0.000000        0.0
2984          0.0     0.000000        0.0
2985          0.0     0.000000        0.0
2986          0.0     0.000000        0.0
847           0.0     0.000000        0.0
2988          0.0     0.000000        0.0
2989          0.0     0.000000        0.0
2990          0.0     0.000000        0.0
2991          0.0     0.000000        0.0
2992          0.0     0.000000        0.0
2993          0.0     0.000000        0.0
846           0.0     0.000000        0.0
0             0.0     0.000000        0.0

[5771 rows x 5 columns]


term completed in paid
status                                           response  accepted  \
2857                                       lg electronics       3.0
2189                                                houzz       0.0
2213                               hughes network systems       0.0
4600                                sternad software gmbh       0.0
2200                                                  hsc       0.0
2194                                             hp, inc.       0.0
4609                                   stmicroelectronics       1.0
2192                                                   hp       4.0
2190                                    howard university       1.0
4641                                 sumitomo corporation       0.0
2323                                      icclarity, inc.       0.0
4642    sumitomo nacco forklift co., ltd (hyster yale ...       0.0
2171                                              hoomano       0.0
4645                                        suncorp group       0.0
2168                    hong kong sanatorium and hospital       0.0
2167                      hong kong sanatorium & hospital       0.0
2161                                            honeywell       4.0
2157                                     honda r&d / easi       0.0
4591                                           state farm       2.0
4589                               start up - regal solar       0.0
2218                                                humax       0.0
4588                         starkey hearing technologies       0.0
2310                                           ibm canada       0.0
2308    iav gmbh,chemnitz germany(intern), robert bosc...       0.0
4552    spreadtrum (http://www.spreadtrum.com/en/index...       0.0
4560                                         sputnix ltd.       0.0
4561                                               square       0.0
4568                                       srm university       1.0
4570                              ssangyong motor company       0.0
2269                                          i have none       0.0
...                                                   ...       ...
5709                            zf trw via invensity gmbh       1.0
5711                    zhejiang university of technology       1.0
5712                                            zhibin yu       1.0
5714                                         zhongjiandai       1.0
5715                                        zhongkeshiwei       1.0
5716                                        zhuantou tech       1.0
5719                                              zilingo       1.0
5721                                            zippy inc       1.0
5723                                             zipycare       1.0
5724                                                  zmp       1.0
5728                                                 zolo       1.0
5729                                                 zone       1.0
5736                        zs associates pvt. ltd., pune       1.0
5739                                      zycada networks       1.0
5740                                                zycus       1.0
5746                            österr. hagelversicherung       1.0
5749                                           中国科学院软件研究所       1.0
5750                                          中科院沈阳自动化研究所       1.0
5751                                         先锋智道北京科技有限公司       1.0
5752                                         北京三快在线科技有限公司       1.0
5753                                          北京八分量科技有限公司       1.0
5754                                         北京奇观科技技术有限公司       1.0
5755                                         北京晶朝科技有限责任公司       1.0
5756                                    北京汉迪世纪移动互联网责任有限公司       1.0
5757                                        南京妖灵妖信息技术有限公司       1.0
5758                                                 广州大学       1.0
5759                                                  张德祥       1.0
5760                                                  朱晓明       1.0
5767                                                 美利金融       1.0
5769                                                  胥梓夏       1.0

status  graduated  paid  term completed  term_completed_total  \
2857          0.0   0.0             1.0                   1.0
2189          0.0   0.0             1.0                   1.0
2213          0.0   0.0             1.0                   1.0
4600          0.0   0.0             1.0                   1.0
2200          0.0   0.0             1.0                   1.0
2194          0.0   0.0             1.0                   1.0
4609          0.0   0.0             1.0                   1.0
2192          0.0   0.0             1.0                   1.0
2190          0.0   0.0             1.0                   1.0
4641          0.0   0.0             1.0                   1.0
2323          0.0   0.0             1.0                   1.0
4642          0.0   0.0             1.0                   1.0
2171          0.0   0.0             1.0                   1.0
4645          0.0   0.0             1.0                   1.0
2168          0.0   0.0             1.0                   1.0
2167          0.0   0.0             1.0                   1.0
2161          0.0   0.0             2.0                   2.0
2157          0.0   0.0             1.0                   1.0
4591          0.0   0.0             1.0                   1.0
4589          0.0   0.0             1.0                   1.0
2218          0.0   0.0             1.0                   1.0
4588          0.0   0.0             1.0                   1.0
2310          0.0   0.0             1.0                   1.0
2308          0.0   0.0             1.0                   1.0
4552          0.0   0.0             1.0                   1.0
4560          0.0   0.0             1.0                   1.0
4561          0.0   0.0             1.0                   1.0
4568          0.0   0.0             1.0                   1.0
4570          0.0   0.0             1.0                   1.0
2269          0.0   0.0             1.0                   1.0
...           ...   ...             ...                   ...
5709          0.0   0.0             0.0                   0.0
5711          0.0   0.0             0.0                   0.0
5712          0.0   0.0             0.0                   0.0
5714          0.0   0.0             0.0                   0.0
5715          0.0   0.0             0.0                   0.0
5716          0.0   0.0             0.0                   0.0
5719          0.0   0.0             0.0                   0.0
5721          0.0   0.0             0.0                   0.0
5723          0.0   0.0             0.0                   0.0
5724          0.0   0.0             0.0                   0.0
5728          0.0   0.0             0.0                   0.0
5729          0.0   0.0             0.0                   0.0
5736          0.0   0.0             0.0                   0.0
5739          0.0   0.0             0.0                   0.0
5740          0.0   0.0             0.0                   0.0
5746          0.0   0.0             0.0                   0.0
5749          0.0   0.0             0.0                   0.0
5750          0.0   0.0             0.0                   0.0
5751          0.0   0.0             0.0                   0.0
5752          0.0   0.0             0.0                   0.0
5753          0.0   0.0             0.0                   0.0
5754          0.0   0.0             0.0                   0.0
5755          0.0   0.0             0.0                   0.0
5756          0.0   0.0             0.0                   0.0
5757          0.0   0.0             0.0                   0.0
5758          0.0   0.0             0.0                   0.0
5759          0.0   0.0             0.0                   0.0
5760          0.0   0.0             0.0                   0.0
5767          0.0   0.0             0.0                   0.0
5769          0.0   0.0             0.0                   0.0

status  term_completed_total/paid  term_completion_rate
2857                          inf                   1.0
2189                          inf                   1.0
2213                          inf                   1.0
4600                          inf                   1.0
2200                          inf                   1.0
2194                          inf                   1.0
4609                          inf                   1.0
2192                          inf                   1.0
2190                          inf                   1.0
4641                          inf                   1.0
2323                          inf                   1.0
4642                          inf                   1.0
2171                          inf                   1.0
4645                          inf                   1.0
2168                          inf                   1.0
2167                          inf                   1.0
2161                          inf                   1.0
2157                          inf                   1.0
4591                          inf                   1.0
4589                          inf                   1.0
2218                          inf                   1.0
4588                          inf                   1.0
2310                          inf                   1.0
2308                          inf                   1.0
4552                          inf                   1.0
4560                          inf                   1.0
4561                          inf                   1.0
4568                          inf                   1.0
4570                          inf                   1.0
2269                          inf                   1.0
...                           ...                   ...
5709                          NaN                   NaN
5711                          NaN                   NaN
5712                          NaN                   NaN
5714                          NaN                   NaN
5715                          NaN                   NaN
5716                          NaN                   NaN
5719                          NaN                   NaN
5721                          NaN                   NaN
5723                          NaN                   NaN
5724                          NaN                   NaN
5728                          NaN                   NaN
5729                          NaN                   NaN
5736                          NaN                   NaN
5739                          NaN                   NaN
5740                          NaN                   NaN
5746                          NaN                   NaN
5749                          NaN                   NaN

paid in accept
paid_status                    response  accepted    paid  paid/accept  \
5                        yes, full time    3080.0  2038.0     0.661688
2                         self employed     257.0   160.0     0.622568
1                                 other      43.0    25.0     0.581395
6            yes, part time or contract     345.0   170.0     0.492754
4                            unemployed     258.0   126.0     0.488372
3                               student    1352.0   366.0     0.270710
0                           no response       1.0     0.0     0.000000

paid_status  paid_rate
5             0.398202
2             0.383693
1             0.367647
6             0.330097
4             0.328125
3             0.213038
0             0.000000


term completed in paid
status                    response  accepted  graduated    paid  \
1                            other      43.0        1.0     9.0
2                    self employed     252.0        1.0    75.0
6       yes, part time or contract     341.0        3.0    87.0
5                   yes, full time    2994.0       16.0  1079.0
3                          student    1342.0        2.0   198.0
4                       unemployed     254.0        2.0    76.0
0                      no response       1.0        0.0     0.0

status  term completed  term_completed_total  term_completed_total/paid  \
1                 15.0                  16.0                   1.777778
2                 89.0                  90.0                   1.200000
6                 84.0                  87.0                   1.000000
5               1029.0                1045.0                   0.968489
3                176.0                 178.0                   0.898990
4                 52.0                  54.0                   0.710526
0                  0.0                   0.0                        NaN

status  term_completion_rate
1                   0.640000
2                   0.545455
6                   0.500000
5                   0.491996
3                   0.473404
4                   0.415385
0                        NaN


Running:  python


paid in accept
paid_status             response  accepted   paid  paid/accept  paid_rate
1                       2+ years    1314.0  930.0     0.707763   0.414439
7                        level 4     176.0  104.0     0.590909   0.371429
0                      1-2 years    1303.0  748.0     0.574060   0.364700
6                        level 3     352.0  181.0     0.514205   0.339587
2                       < 1 year    1542.0  738.0     0.478599   0.323684
5                        level 2     208.0   69.0     0.331731   0.249097
8            no prior experience     300.0   96.0     0.320000   0.242424
4                        level 1      95.0   16.0     0.168421   0.144144
3                        level 0      45.0    3.0     0.066667   0.062500
9                    no response       1.0    0.0     0.000000   0.000000


term completed in paid
status             response  accepted  graduated   paid  term completed  \
3                   level 0      45.0        0.0    1.0             2.0
0                 1-2 years    1271.0        6.0  379.0           395.0
1                  2+ years    1279.0       13.0  477.0           475.0
2                  < 1 year    1511.0        5.0  387.0           377.0
6                   level 3     346.0        0.0  104.0            83.0
7                   level 4     173.0        0.0   61.0            46.0
5                   level 2     207.0        0.0   40.0            30.0
8       no prior experience     299.0        1.0   62.0            34.0
4                   level 1      95.0        0.0   13.0             3.0
9               no response       1.0        0.0    0.0             0.0

status  term_completed_total  term_completed_total/paid  term_completion_rate
3                        2.0                   2.000000              0.666667
0                      401.0                   1.058047              0.514103
1                      488.0                   1.023061              0.505699
2                      382.0                   0.987080              0.496749
6                       83.0                   0.798077              0.443850
7                       46.0                   0.754098              0.429907
5                       30.0                   0.750000              0.428571
8                       35.0                   0.564516              0.360825
4                        3.0                   0.230769              0.187500
9                        0.0                        NaN                   NaN


Running:  C++


paid in accept
paid_status             response  accepted    paid  paid/accept  paid_rate
1                       2+ years    1550.0  1069.0     0.689677   0.408171
0                      1-2 years    1163.0   646.0     0.555460   0.357103
7                        level 4     161.0    82.0     0.509317   0.337449
6                        level 3     286.0   141.0     0.493007   0.330211
2                       < 1 year    1301.0   635.0     0.488086   0.327996
3                        level 0      21.0     9.0     0.428571   0.300000
8            no prior experience     445.0   162.0     0.364045   0.266886
5                        level 2     304.0   106.0     0.348684   0.258537
4                        level 1     104.0    35.0     0.336538   0.251799
9                    no response       1.0     0.0     0.000000   0.000000


term completed in paid
status             response  accepted  graduated   paid  term completed  \
1                  2+ years    1505.0        8.0  527.0           579.0
2                  < 1 year    1280.0        8.0  339.0           309.0
0                 1-2 years    1135.0        8.0  350.0           316.0
7                   level 4     157.0        0.0   45.0            41.0
8       no prior experience     440.0        1.0   89.0            77.0
6                   level 3     281.0        0.0   78.0            68.0
5                   level 2     303.0        0.0   66.0            41.0
4                   level 1     104.0        0.0   23.0            12.0
3                   level 0      21.0        0.0    7.0             2.0
9               no response       1.0        0.0    0.0             0.0

status  term_completed_total  term_completed_total/paid  term_completion_rate
1                      587.0                   1.113852              0.526930
2                      317.0                   0.935103              0.483232
0                      324.0                   0.925714              0.480712
7                       41.0                   0.911111              0.476744
8                       78.0                   0.876404              0.467066
6                       68.0                   0.871795              0.465753
5                       41.0                   0.621212              0.383178
4                       12.0                   0.521739              0.342857
3                        2.0                   0.285714              0.222222
9                        0.0                        NaN                   NaN


Running:  programming skills


paid in accept
paid_status                                     response  accepted  paid  \
4                                            no response      4460  2512
1            depth-first search and breadth-first search       507   256
0                                         balanced trees       466   233
3                                                  etc.)       466   233
6                                             skip lists       466   233
8              symbol table data structures (hash tables       466   233
7                                      stacks and queues       665   312
2                                    dynamic programming       448   206
5                                      none of the above       116    39

paid_status  paid/accept  paid_rate
4               0.563229   0.360298
1               0.504931   0.335518
0               0.500000   0.333333
3               0.500000   0.333333
6               0.500000   0.333333
8               0.500000   0.333333
7               0.469173   0.319345
2               0.459821   0.314985
5               0.336207   0.251613


term completed in paid
status                                     response  accepted  graduated  \
4                                       no response    4361.0       25.0
2                               dynamic programming     444.0        0.0
0                                    balanced trees     459.0        0.0
3                                             etc.)     459.0        0.0
6                                        skip lists     459.0        0.0
8         symbol table data structures (hash tables     459.0        0.0
1       depth-first search and breadth-first search     499.0        0.0
7                                 stacks and queues     656.0        0.0
5                                 none of the above     116.0        0.0

status    paid  term completed  term_completed_total  \
4       1305.0          1281.0                1306.0
2        119.0            91.0                  91.0
0        137.0           103.0                 103.0
3        137.0           103.0                 103.0
6        137.0           103.0                 103.0
8        137.0           103.0                 103.0
1        152.0           112.0                 112.0
7        186.0           135.0                 135.0
5         25.0            14.0                  14.0

status  term_completed_total/paid  term_completion_rate
4                        1.000766              0.500191
2                        0.764706              0.433333
0                        0.751825              0.429167
3                        0.751825              0.429167
6                        0.751825              0.429167
8                        0.751825              0.429167
1                        0.736842              0.424242
7                        0.725806              0.420561
5                        0.560000              0.358974


Running:  theory skills

paid in accept
paid_status                    response  accepted  paid  paid/accept  \
3                      machine learning      3298  2041     0.618860
0                              calculus      4357  2641     0.606151
6            probability and statistics      4476  2687     0.600313
2                        linear algebra      4544  2687     0.591329
1                      computer science      4543  2599     0.572089
4                           no response         4     1     0.250000
5                     none of the above        74    16     0.216216

paid_status  paid_rate
3             0.382281
0             0.377394
6             0.375122
2             0.371595
1             0.363904
4             0.200000
5             0.177778


term completed in paid
status                    response  accepted  graduated    paid  \
5                none of the above      73.0        0.0     8.0
3                 machine learning    3213.0       20.0  1004.0
2                   linear algebra    4446.0       24.0  1403.0
6       probability and statistics    4376.0       23.0  1413.0
0                         calculus    4261.0       24.0  1389.0
1                 computer science    4447.0       23.0  1386.0
4                      no response       4.0        0.0     1.0

status  term completed  term_completed_total  term_completed_total/paid  \
5                  9.0                   9.0                   1.125000
3               1102.0                1122.0                   1.117530
2               1358.0                1382.0                   0.985032
6               1351.0                1374.0                   0.972399
0               1324.0                1348.0                   0.970482
1               1286.0                1309.0                   0.944444
4                  0.0                   0.0                   0.000000

status  term_completion_rate
5                   0.529412
3                   0.527752
2                   0.496230
6                   0.493003
0                   0.492510
1                   0.485714
4                   0.000000


Running:  time commitment


paid in accept
paid_status     response  accepted  paid  paid/accept  paid_rate
0            no response      5336  2885     0.540667   0.350931


term completed in paid
status     response  accepted  graduated  paid  term completed  \
0       no response      5227         25  1524            1445

status  term_completed_total  term_completed_total/paid  term_completion_rate
0                       1470                   0.964567              0.490982


Running:  goal


paid in accept
paid_status                                           response  accepted  \
8182           通过学习，了解无人驾驶需要的计算量和硬件需求，希望通过未来能够开发出更低成本和能耗的专有芯片。       0.0
2781         i feel like i was born just a few years too ea...       0.0
2787         i feel very strongly that machine learning is ...       0.0
2788         i fell in self-driving car's world last year w...       0.0
2790         i find it very rewarding to discover and explo...       0.0
2792         i finished my engineering phd in 2010 with a f...       0.0
2793         i finished my masters thesis in computer visio...       0.0
2794         i finished my undegraduate degree in mechanica...       0.0
2795         i firmly believe the constituents of this cour...       0.0
6390                  learn new skills and update my knowledge       0.0
2798         i first get interested in machine learning whe...       0.0
2799         i first got in touch with the topic of autonom...       0.0
6389         learn new skills and reinforce my existing ski...       0.0
2801         i first started my career doing low level soft...       0.0
2802         i found machine learning very exciting topic a...       0.0
6388         learn new skills and move to a new role relate...       0.0
2804         i founded a company in 2013 that specializes i...       0.0
2806         i founded the crowdcar project (https://crowdc...       0.0
2807         i get a new project to develop a self driving ...       0.0
2808         i get this exciting feeling of accomplishment ...       0.0
2809         i got a couple cv/ar pet projects, using openc...       0.0
2810         i got a diploma in knowledge based computer sy...       0.0
2813         i got accepted for the self-driving nanodegree...       0.0
2817         i got my bachelor's degree majored in mathemat...       0.0
2818         i got my master degree in electrical engineeri...       0.0
2821         i got to know about autonomous vehicles throug...       0.0
2822         i got two bachelor degrees, one is germany lan...       0.0
2782         i feel stuck in my employ-ability. recently i ...       0.0
2779         i feel excited and curious about this new fiel...       0.0
2826         i graduated from asian institute of technology...       0.0
...                                                        ...       ...
3369         i have over 8 years of experience in automotiv...       1.0
3368         i have over 3 years of experience in software ...       1.0
3366         i have over 10 years of experience in developi...       1.0
3364         i have obtained a bachelor degree in electroni...       1.0
3400         i have rich experience studying online. i am g...       1.0
3403         i have some background in computer vision, and...       1.0
3448         i have tried learned to program python on my o...       1.0
3404         i have some basic knowledge in the field of ma...       1.0
3446         i have this hobby of mine to learn about thing...       1.0
3445         i have theoretical and practical knowledge in ...       1.0
3444         i have the desire to work research companies i...       1.0
3442         i have taken some courses about data mining an...       1.0
3439         i have taken around 30 courses online on basic...       1.0
3437         i have taken a course last semester which invo...       1.0
3435         i have studied some machine learning courses. ...       1.0
3427         i have strong interest in this self-driving re...       1.0
3424         i have started working as autonomous safety en...       1.0
3423         i have started to work towards my goal of beco...       1.0
3422         i have started to learn deep learning and this...       1.0
3421         i have started my interest towards artificial ...       1.0
3420         i have started my career off as a car mechanic...       1.0
3416         i have started and sold two companies tayzu ro...       1.0
3414         i have spent my career focused on estimation t...       1.0
3413         i have spent my 8-year career working in sales...       1.0
3411         i have sound knowledge in opencv, matlab, digi...       1.0
3410         i have some theoretical knowledge in ml and i ...       1.0
3409         i have some projects in mind which i am planni...       1.0
3406         i have some good background in machine learnin...       1.0
3405         i have some experience in computer vision / ma...       1.0
4091                          i just want to learn new things.       1.0

paid_status  paid  paid/accept  paid_rate
8182          1.0          inf        1.0
2781          1.0          inf        1.0
2787          1.0          inf        1.0
2788          1.0          inf        1.0
2790          1.0          inf        1.0
2792          1.0          inf        1.0
2793          1.0          inf        1.0
2794          1.0          inf        1.0
2795          1.0          inf        1.0
6390          1.0          inf        1.0
2798          1.0          inf        1.0
2799          1.0          inf        1.0
6389          1.0          inf        1.0
2801          1.0          inf        1.0
2802          1.0          inf        1.0
6388          1.0          inf        1.0
2804          1.0          inf        1.0
2806          1.0          inf        1.0
2807          1.0          inf        1.0
2808          1.0          inf        1.0
2809          1.0          inf        1.0
2810          1.0          inf        1.0
2813          1.0          inf        1.0
2817          1.0          inf        1.0
2818          1.0          inf        1.0
2821          1.0          inf        1.0
2822          1.0          inf        1.0
2782          1.0          inf        1.0
2779          1.0          inf        1.0
2826          1.0          inf        1.0
...           ...          ...        ...
3369          0.0     0.000000        0.0
3368          0.0     0.000000        0.0
3366          0.0     0.000000        0.0
3364          0.0     0.000000        0.0
3400          0.0     0.000000        0.0
3403          0.0     0.000000        0.0
3448          0.0     0.000000        0.0
3404          0.0     0.000000        0.0
3446          0.0     0.000000        0.0
3445          0.0     0.000000        0.0
3444          0.0     0.000000        0.0
3442          0.0     0.000000        0.0
3439          0.0     0.000000        0.0
3437          0.0     0.000000        0.0
3435          0.0     0.000000        0.0
3427          0.0     0.000000        0.0
3424          0.0     0.000000        0.0
3423          0.0     0.000000        0.0
3422          0.0     0.000000        0.0
3421          0.0     0.000000        0.0
3420          0.0     0.000000        0.0
3416          0.0     0.000000        0.0
3414          0.0     0.000000        0.0
3413          0.0     0.000000        0.0
3411          0.0     0.000000        0.0
3410          0.0     0.000000        0.0
3409          0.0     0.000000        0.0
3406          0.0     0.000000        0.0
3405          0.0     0.000000        0.0
4091          0.0     0.000000        0.0

[8183 rows x 5 columns]


term completed in paid
status                                           response  accepted  \
8182      通过学习，了解无人驾驶需要的计算量和硬件需求，希望通过未来能够开发出更低成本和能耗的专有芯片。       0.0
3279    i have done some projects regarding the use of...       0.0
3182    i have been working in driving assistance in s...       0.0
3180    i have been working in automotive software dev...       0.0
3179    i have been working in automotive industry as ...       0.0
6583    my big goal is to improve my current knowledge...       0.0
3176    i have been working in a auto pilot team for o...       0.0
6589    my career goal is help make fully autonomous t...       0.0
3171    i have been working as mobile software enginee...       0.0
6595    my company avocent decided to close its branch...       0.0
6596    my company's strategic vision is to win in aut...       0.0
6599    my curiosity in self driving cars led me to pu...       0.0
3153    i have been studying autonomous driving techno...       0.0
3149    i have been self studying machine learning and...       0.0
6601    my current employer is demanding new professio...       0.0
3147    i have been really participative in ml/dl init...       0.0
3145    i have been pursuing a career shift for the la...       0.0
6603    my current employer's core competence is inert...       0.0
3133    i have been involved in machine learning for 1...       0.0
3131    i have been into machine learning since a year...       0.0
3124    i have been in the tech industry for 18 years ...       0.0
3123    i have been in the imaging field for 15 years....       0.0
3122    i have been in the connected car space.  i wis...       0.0
6610    my current goal now is to expand on my set of ...       0.0
3115    i have been fascinated by the concept(initiall...       0.0
3183    i have been working in embedded systems, wifi ...       0.0
3188    i have been working in robotics manipulators a...       0.0
3190    i have been working in software industry for q...       0.0
6561    my  professional goal is to improve safety in ...       0.0
3272    i have done my b.tech in mechanical engineerin...       0.0
...                                                   ...       ...
8144                 working on auto-driving car in snapp       1.0
8145    working on my master's thesis on robots. curre...       1.0
8146    working on self-driving cars has been a dream ...       1.0
8147    working on software design for vehicle managem...       1.0
8148    working with adtech data has been my forte for...       1.0
8149    working with applications of physics, mathemat...       1.0
8150    world is changing by the minute and i would li...       1.0
8151    world of automation excites me and whats more ...       1.0
8152    would be nice to have skill which will allow m...       1.0
8155    would like to enhance my knowledge in this dom...       1.0
8157    would like to gain knowledge in this field as ...       1.0
8158    would like to gain technical knowledge to get ...       1.0
8159    would like to get back into engineering.  i wo...       1.0
8160    would like to get good job in machine learning...       1.0
8161    would like to learn more about machine learnin...       1.0
8163    would want an opportunity to apply my skills i...       1.0
8164    write a deep learning model to drive self-driv...       1.0
8165                                                  yes       2.0
8166                                         yes, i will.       1.0
8167    you can see my project and my activities in my...       1.0
8168    you know, i always feel to make a car drive it...       1.0
8169                                                 zfdg       1.0
8171                                             对职业技能的提升       1.0
8172                          希望可以对自动驾驶相关的技能有比较全面系统的了解和入门       1.0
8174      成为一名无人驾驶工程师一直是我的梦想，我会为之奋斗到底，特别期待带领团队独挡一面那一刻的来临！       1.0
8176    我希望在这个课程中学习到完整的自动驾驶相关的知识，并通过所学的知识完成自动驾驶相关的工作。我...       1.0
8178                       掌握道路，行人，车辆的识别，学会处理激光雷达采集的点云数据。       1.0
8179    无人驾驶技术是目前最前沿的技术，是世界发展的潮流。学习这方面技术能让我得到更多的新技能，并且...       1.0
8180    未來目標是到美國就業，且對車子有十分的熱愛，所以希望在上完這門課時我能學到更多的技術和知識，...       1.0
8181    自动驾驶创业，希望能更好的打好基础，运营深度学习公众号createamind，公司马上注册，...       1.0

status  graduated  paid  term completed  term_completed_total  \
8182          0.0   0.0             1.0                   1.0
3279          0.0   0.0             1.0                   1.0
3182          0.0   0.0             1.0                   1.0
3180          0.0   0.0             1.0                   1.0
3179          0.0   0.0             1.0                   1.0
6583          0.0   0.0             1.0                   1.0
3176          0.0   0.0             1.0                   1.0
6589          0.0   0.0             1.0                   1.0
3171          0.0   0.0             1.0                   1.0
6595          0.0   0.0             1.0                   1.0
6596          0.0   0.0             1.0                   1.0
6599          0.0   0.0             1.0                   1.0
3153          0.0   0.0             1.0                   1.0
3149          0.0   0.0             1.0                   1.0
6601          0.0   0.0             1.0                   1.0
3147          0.0   0.0             1.0                   1.0
3145          0.0   0.0             1.0                   1.0
6603          0.0   0.0             1.0                   1.0
3133          0.0   0.0             1.0                   1.0
3131          0.0   0.0             1.0                   1.0
3124          0.0   0.0             1.0                   1.0
3123          0.0   0.0             1.0                   1.0
3122          0.0   0.0             1.0                   1.0
6610          0.0   0.0             1.0                   1.0
3115          0.0   0.0             1.0                   1.0
3183          1.0   0.0             0.0                   1.0
3188          0.0   0.0             1.0                   1.0
3190          0.0   0.0             1.0                   1.0
6561          0.0   0.0             1.0                   1.0
3272          0.0   0.0             1.0                   1.0
...           ...   ...             ...                   ...
8144          0.0   0.0             0.0                   0.0
8145          0.0   0.0             0.0                   0.0
8146          0.0   0.0             0.0                   0.0
8147          0.0   0.0             0.0                   0.0
8148          0.0   0.0             0.0                   0.0
8149          0.0   0.0             0.0                   0.0
8150          0.0   0.0             0.0                   0.0
8151          0.0   0.0             0.0                   0.0
8152          0.0   0.0             0.0                   0.0
8155          0.0   0.0             0.0                   0.0
8157          0.0   0.0             0.0                   0.0
8158          0.0   0.0             0.0                   0.0
8159          0.0   0.0             0.0                   0.0
8160          0.0   0.0             0.0                   0.0
8161          0.0   0.0             0.0                   0.0
8163          0.0   0.0             0.0                   0.0
8164          0.0   0.0             0.0                   0.0
8165          0.0   0.0             0.0                   0.0
8166          0.0   0.0             0.0                   0.0
8167          0.0   0.0             0.0                   0.0
8168          0.0   0.0             0.0                   0.0
8169          0.0   0.0             0.0                   0.0
8171          0.0   0.0             0.0                   0.0
8172          0.0   0.0             0.0                   0.0
8174          0.0   0.0             0.0                   0.0
8176          0.0   0.0             0.0                   0.0
8178          0.0   0.0             0.0                   0.0
8179          0.0   0.0             0.0                   0.0
8180          0.0   0.0             0.0                   0.0
8181          0.0   0.0             0.0                   0.0

status  term_completed_total/paid  term_completion_rate
8182                          inf                   1.0
3279                          inf                   1.0
3182                          inf                   1.0
3180                          inf                   1.0
3179                          inf                   1.0
6583                          inf                   1.0
3176                          inf                   1.0
6589                          inf                   1.0
3171                          inf                   1.0
6595                          inf                   1.0
6596                          inf                   1.0
6599                          inf                   1.0
3153                          inf                   1.0
3149                          inf                   1.0
6601                          inf                   1.0
3147                          inf                   1.0
3145                          inf                   1.0
6603                          inf                   1.0
3133                          inf                   1.0
3131                          inf                   1.0
3124                          inf                   1.0
3123                          inf                   1.0
3122                          inf                   1.0
6610                          inf                   1.0
3115                          inf                   1.0
3183                          inf                   1.0
3188                          inf                   1.0
3190                          inf                   1.0
6561                          inf                   1.0
3272                          inf                   1.0
...                           ...                   ...
8144                          NaN                   NaN
8145                          NaN                   NaN
8146                          NaN                   NaN
8147                          NaN                   NaN
8148                          NaN                   NaN

paid in accept
paid_status                                           response  accepted  \
1                              grow skills for my current role    1419.0
6                             start a new career in this field    2199.0
5                                                        other      56.0
2                          help move from academia to industry     512.0
0            general interest in the topic (personal growth...     858.0
3                          help prepare for an advanced degree     291.0
4                                                  no response       1.0

paid_status    paid  paid/accept  paid_rate
1             884.0     0.622974   0.383847
6            1314.0     0.597544   0.374039
5              25.0     0.446429   0.308642
2             228.0     0.445312   0.308108
0             358.0     0.417249   0.294408
3              76.0     0.261168   0.207084
4               0.0     0.000000   0.000000


term completed in paid
status                                           response  accepted  \
1                         grow skills for my current role    1374.0
2                     help move from academia to industry     506.0
6                        start a new career in this field    2153.0
0       general interest in the topic (personal growth...     849.0
5                                                   other      56.0
3                     help prepare for an advanced degree     288.0
4                                             no response       1.0

status  graduated   paid  term completed  term_completed_total  \
1            13.0  430.0           486.0                 499.0
2             0.0  117.0           117.0                 117.0
6            11.0  716.0           633.0                 644.0
0             1.0  202.0           164.0                 165.0
5             0.0   14.0            11.0                  11.0
3             0.0   45.0            34.0                  34.0
4             0.0    0.0             0.0                   0.0

status  term_completed_total/paid  term_completion_rate
1                        1.160465              0.537137
2                        1.000000              0.500000
6                        0.899441              0.473529
0                        0.816832              0.449591
5                        0.785714              0.440000
3                        0.755556              0.430380
4                             NaN                   NaN


Running:  phone


paid in accept
paid_status     response  accepted  paid  paid/accept  paid_rate
0            no response      5336  2885     0.540667   0.350931


term completed in paid
status     response  accepted  graduated  paid  term completed  \
0       no response      5227         25  1524            1445

status  term_completed_total  term_completed_total/paid  term_completion_rate
0                       1470                   0.964567              0.490982


Running:  location


paid in accept
paid_status                             response  accepted  paid  paid/accept  \
0                                        \t01135       0.0   1.0          inf
1596                                   27933-270       0.0   1.0          inf
4038                                       92320       0.0   1.0          inf
1592                                       27617       0.0   1.0          inf
1588                                      27601        0.0   1.0          inf
1582                                       27502       0.0   2.0          inf
4046                                        9255       0.0   1.0          inf
4047                                       92563       0.0   1.0          inf
1576                                       27403       0.0   1.0          inf
1574                                       27301       0.0   1.0          inf
4049                                       92604       0.0   1.0          inf
1572                                       27265       0.0   1.0          inf
1571                                        2720       0.0   1.0          inf
4050                                       92606       0.0   2.0          inf
1568                                       27042       0.0   1.0          inf
4056                                       92626       0.0   1.0          inf
4059                                       92648       0.0   2.0          inf
4060                                       92649       0.0   1.0          inf
1558                                      2624kz       0.0   1.0          inf
4062                                       92660       0.0   1.0          inf
4063                                       92691       0.0   2.0          inf
1554                                       26125       0.0   1.0          inf
1552                                     2610004       0.0   1.0          inf
4066                                       92707       0.0   1.0          inf
1549                                       26050       0.0   1.0          inf
1548                                        2604       0.0   1.0          inf
1547                                       26003       0.0   1.0          inf
4037                                       92318       0.0   1.0          inf
1597                                    27937540       0.0   1.0          inf
1544                                     2571433       0.0   1.0          inf
...                                          ...       ...   ...          ...
2074                                      400049       1.0   0.0     0.000000
2073                                      400044       1.0   0.0     0.000000
2056                                       39500       1.0   0.0     0.000000
2042                                     3890800       1.0   0.0     0.000000
2044                                      390001       2.0   0.0     0.000000
2045                                      390017       1.0   0.0     0.000000
2046                                      390020       1.0   0.0     0.000000
2047                                      390021       1.0   0.0     0.000000
2048                                       39031       1.0   0.0     0.000000
2049                                        3910       1.0   0.0     0.000000
2050                                       39106       1.0   0.0     0.000000
2051                                       39108       1.0   0.0     0.000000
2052                                       39114       1.0   0.0     0.000000
2053                                      394107       1.0   0.0     0.000000
2054                                      394210       1.0   0.0     0.000000
2057                                      395007       1.0   0.0     0.000000
2072                                      400024       1.0   0.0     0.000000
2058                                      395009       1.0   0.0     0.000000
2060                                       39600       1.0   0.0     0.000000
2061                                      396001       1.0   0.0     0.000000
2062         399b river valley, singapore 248295       1.0   0.0     0.000000
2063                                        4000       5.0   0.0     0.000000
2064                                       40000       3.0   0.0     0.000000
2066                                      400001       2.0   0.0     0.000000
2067                                      400002       1.0   0.0     0.000000
2068                                      400012       1.0   0.0     0.000000
2069                                      400018       1.0   0.0     0.000000
2070                                      400019       2.0   0.0     0.000000
2071                                      400022       1.0   0.0     0.000000
5032                                           ￥       1.0   0.0     0.000000

paid_status  paid_rate
0                  1.0
1596               1.0
4038               1.0
1592               1.0
1588               1.0
1582               1.0
4046               1.0
4047               1.0
1576               1.0
1574               1.0
4049               1.0
1572               1.0
1571               1.0
4050               1.0
1568               1.0
4056               1.0
4059               1.0
4060               1.0
1558               1.0
4062               1.0
4063               1.0
1554               1.0
1552               1.0
4066               1.0
1549               1.0
1548               1.0
1547               1.0
4037               1.0
1597               1.0
1544               1.0
...                ...
2074               0.0
2073               0.0
2056               0.0
2042               0.0
2044               0.0
2045               0.0
2046               0.0
2047               0.0
2048               0.0
2049               0.0
2050               0.0
2051               0.0
2052               0.0
2053               0.0
2054               0.0
2057               0.0
2072               0.0
2058               0.0
2060               0.0
2061               0.0
2062               0.0
2063               0.0
2064               0.0
2066               0.0
2067               0.0
2068               0.0
2069               0.0
2070               0.0
2071               0.0
5032               0.0

[5033 rows x 5 columns]


term completed in paid
status            response  accepted  graduated  paid  term completed  \
0                  \t01135       0.0        0.0   0.0             1.0
2859                560100      12.0        0.0   0.0             3.0
2914             59082-160       0.0        0.0   0.0             1.0
2904                 58507       0.0        0.0   0.0             1.0
2902                583201       0.0        0.0   0.0             1.0
2900                 58203       0.0        0.0   0.0             1.0
2894                580023       0.0        0.0   0.0             1.0
2891                579723       1.0        0.0   0.0             1.0
2875                5666gn       0.0        0.0   0.0             1.0
2847                560083       0.0        0.0   0.0             1.0
2783                 55471       0.0        0.0   0.0             1.0
2843                560078       6.0        0.0   0.0             2.0
2840                560075       2.0        0.0   0.0             1.0
2832                560067       1.0        0.0   0.0             1.0
2825                560054       1.0        0.0   0.0             1.0
2811                560034       1.0        0.0   0.0             1.0
2794                560010       1.0        0.0   0.0             2.0
2785                555513       0.0        0.0   0.0             1.0
2915                 59110       0.0        0.0   0.0             1.0
2944                600073       3.0        0.0   0.0             1.0
2962                 60015       0.0        0.0   0.0             1.0
2970                  6005       0.0        0.0   0.0             1.0
3115                 63225       1.0        0.0   0.0             1.0
3088         622224, china       0.0        0.0   0.0             1.0
3085                620149       0.0        0.0   0.0             1.0
3075                 61764       0.0        0.0   0.0             1.0
3068                 61525       0.0        0.0   0.0             1.0
3034                 60616       7.0        0.0   0.0             1.0
3028                 60608       0.0        0.0   0.0             1.0
3018                 60555       0.0        0.0   0.0             1.0
...                    ...       ...        ...   ...             ...
4985               v5z 2b6       1.0        0.0   0.0             0.0
4986               v6b 1b7       1.0        0.0   0.0             0.0
4987               v6b 1t2       1.0        0.0   0.0             0.0
4988                v6b2s2       1.0        0.0   0.0             0.0
4990                v6g1y8       1.0        0.0   0.0             0.0
4991               v6j 2e7       1.0        0.0   0.0             0.0
4992               v6k 1n9       1.0        0.0   0.0             0.0
4993                v6n3m2       1.0        0.0   0.0             0.0
4994                v6p4a9       1.0        0.0   0.0             0.0
5001               v7c 5s9       1.0        0.0   0.0             0.0
5004               v8n 3a9       1.0        0.0   0.0             0.0
5005                v8n6k8       1.0        0.0   0.0             0.0
5008    valladolid (spain)       1.0        0.0   0.0             0.0
5009             veldhoven       1.0        0.0   0.0             0.0
5010                vienna       1.0        0.0   0.0             0.0
5011           vienna 1200       1.0        0.0   0.0             0.0
5012               w10 5ds       1.0        0.0   0.0             0.0
5014               w12 8qp       1.0        0.0   0.0             0.0
5015                w2 3ua       1.0        0.0   0.0             0.0
5018                w6 9px       1.0        0.0   0.0             0.0
5020              wc1h 0ng       1.0        0.0   0.0             0.0
5022              wd25 9fh       1.0        0.0   0.0             0.0
5023       wi - 53703, usa       1.0        0.0   0.0             0.0
5024                   won       1.0        0.0   0.0             0.0
5025               wr143bp       1.0        0.0   0.0             0.0
5027               x1a 3y1       1.0        0.0   0.0             0.0
5028                   yes       1.0        0.0   0.0             0.0
5029                 §(!!$       1.0        0.0   0.0             0.0
5031                    安徽       1.0        0.0   0.0             0.0
5032                     ￥       1.0        0.0   0.0             0.0

status  term_completed_total  term_completed_total/paid  term_completion_rate
0                        1.0                        inf                   1.0
2859                     3.0                        inf                   1.0
2914                     1.0                        inf                   1.0
2904                     1.0                        inf                   1.0
2902                     1.0                        inf                   1.0
2900                     1.0                        inf                   1.0
2894                     1.0                        inf                   1.0
2891                     1.0                        inf                   1.0
2875                     1.0                        inf                   1.0
2847                     1.0                        inf                   1.0
2783                     1.0                        inf                   1.0
2843                     2.0                        inf                   1.0
2840                     1.0                        inf                   1.0
2832                     1.0                        inf                   1.0
2825                     1.0                        inf                   1.0
2811                     1.0                        inf                   1.0
2794                     2.0                        inf                   1.0
2785                     1.0                        inf                   1.0
2915                     1.0                        inf                   1.0
2944                     1.0                        inf                   1.0
2962                     1.0                        inf                   1.0
2970                     1.0                        inf                   1.0
3115                     1.0                        inf                   1.0
3088                     1.0                        inf                   1.0
3085                     1.0                        inf                   1.0
3075                     1.0                        inf                   1.0
3068                     1.0                        inf                   1.0
3034                     1.0                        inf                   1.0
3028                     1.0                        inf                   1.0
3018                     1.0                        inf                   1.0
...                      ...                        ...                   ...
4985                     0.0                        NaN                   NaN
4986                     0.0                        NaN                   NaN
4987                     0.0                        NaN                   NaN
4988                     0.0                        NaN                   NaN
4990                     0.0                        NaN                   NaN
4991                     0.0                        NaN                   NaN
4992                     0.0                        NaN                   NaN
4993                     0.0                        NaN                   NaN
4994                     0.0                        NaN                   NaN
5001                     0.0                        NaN                   NaN
5004                     0.0                        NaN                   NaN
5005                     0.0                        NaN                   NaN
5008                     0.0                        NaN                   NaN
5009                     0.0                        NaN                   NaN
5010                     0.0                        NaN                   NaN
5011                     0.0                        NaN                   NaN
5012                     0.0                        NaN                   NaN
5014                     0.0                        NaN                   NaN
5015                     0.0                        NaN                   NaN
5018                     0.0                        NaN                   NaN
5020                     0.0                        NaN                   NaN
5022                     0.0                        NaN                   NaN
5023                     0.0                        NaN                   NaN
5024                     0.0                        NaN                   NaN
5025                     0.0                        NaN                   NaN
5027                     0.0                        NaN                   NaN
5028                     0.0                        NaN                   NaN
5029                     0.0                        NaN                   NaN
5031                     0.0                        NaN                   NaN
5032                     0.0                        NaN                   NaN

[5033 rows x 8 columns]

In [5]:
pd.pivot_table(question, values='question_id', index=['cohort_id'],columns=['tag'], aggfunc=np.unique).T

cohort_id,7,18,47,88,89,90,220,293,359,389
tag,,,,,,,,,,
C,8afe0061-746b-4bd7-807c-393fe5c7599d,None,None,None,None,None,None,None,None,None
C++,None,7a09e78a-8000-459e-9d79-aa21db135138,7a09e78a-8000-459e-9d79-aa21db135138,7a09e78a-8000-459e-9d79-aa21db135138,9481dc6b-c4e9-4207-a30c-65c3ac302bf5,9481dc6b-c4e9-4207-a30c-65c3ac302bf5,9481dc6b-c4e9-4207-a30c-65c3ac302bf5,9481dc6b-c4e9-4207-a30c-65c3ac302bf5,9481dc6b-c4e9-4207-a30c-65c3ac302bf5,9481dc6b-c4e9-4207-a30c-65c3ac302bf5
age,1bfe0061-746b-4bd7-807c-393fe5c7599d,None,None,None,None,None,None,None,None,None
degree relevant,None,cad2565e-8176-44b5-9080-14cfc67ea9b4,cad2565e-8176-44b5-9080-14cfc67ea9b4,cad2565e-8176-44b5-9080-14cfc67ea9b4,cad2565e-8176-44b5-9080-14cfc67ea9b4,cad2565e-8176-44b5-9080-14cfc67ea9b4,cad2565e-8176-44b5-9080-14cfc67ea9b4,cad2565e-8176-44b5-9080-14cfc67ea9b4,cad2565e-8176-44b5-9080-14cfc67ea9b4,cad2565e-8176-44b5-9080-14cfc67ea9b4
education,None,48e7b492-62b4-4d99-b596-80d68f2966ae,48e7b492-62b4-4d99-b596-80d68f2966ae,48e7b492-62b4-4d99-b596-80d68f2966ae,48e7b492-62b4-4d99-b596-80d68f2966ae,48e7b492-62b4-4d99-b596-80d68f2966ae,48e7b492-62b4-4d99-b596-80d68f2966ae,48e7b492-62b4-4d99-b596-80d68f2966ae,48e7b492-62b4-4d99-b596-80d68f2966ae,48e7b492-62b4-4d99-b596-80d68f2966ae
education institution,None,892afb90-16b5-4531-a738-3f4366430224,892afb90-16b5-4531-a738-3f4366430224,892afb90-16b5-4531-a738-3f4366430224,892afb90-16b5-4531-a738-3f4366430224,892afb90-16b5-4531-a738-3f4366430224,892afb90-16b5-4531-a738-3f4366430224,892afb90-16b5-4531-a738-3f4366430224,892afb90-16b5-4531-a738-3f4366430224,892afb90-16b5-4531-a738-3f4366430224
employer,None,aefb0704-b6f1-40ff-a574-bade2df80370,aefb0704-b6f1-40ff-a574-bade2df80370,aefb0704-b6f1-40ff-a574-bade2df80370,aefb0704-b6f1-40ff-a574-bade2df80370,aefb0704-b6f1-40ff-a574-bade2df80370,aefb0704-b6f1-40ff-a574-bade2df80370,aefb0704-b6f1-40ff-a574-bade2df80370,aefb0704-b6f1-40ff-a574-bade2df80370,aefb0704-b6f1-40ff-a574-bade2df80370
employment,None,fba3666b-db04-46e9-8f3d-2a303f13e0a5,fba3666b-db04-46e9-8f3d-2a303f13e0a5,fba3666b-db04-46e9-8f3d-2a303f13e0a5,fba3666b-db04-46e9-8f3d-2a303f13e0a5,fba3666b-db04-46e9-8f3d-2a303f13e0a5,fba3666b-db04-46e9-8f3d-2a303f13e0a5,fba3666b-db04-46e9-8f3d-2a303f13e0a5,fba3666b-db04-46e9-8f3d-2a303f13e0a5,fba3666b-db04-46e9-8f3d-2a303f13e0a5
gender,None,516737fe-4567-48d2-8645-08d335e21b0c,516737fe-4567-48d2-8645-08d335e21b0c,516737fe-4567-48d2-8645-08d335e21b0c,516737fe-4567-48d2-8645-08d335e21b0c,516737fe-4567-48d2-8645-08d335e21b0c,516737fe-4567-48d2-8645-08d335e21b0c,516737fe-4567-48d2-8645-08d335e21b0c,516737fe-4567-48d2-8645-08d335e21b0c,516737fe-4567-48d2-8645-08d335e21b0c
github account,None,2046282b-d566-4902-9bb5-8d9ee1b7ab78,2046282b-d566-4902-9bb5-8d9ee1b7ab78,2046282b-d566-4902-9bb5-8d9ee1b7ab78,2046282b-d566-4902-9bb5-8d9ee1b7ab78,2046282b-d566-4902-9bb5-8d9ee1b7ab78,2046282b-d566-4902-9bb5-8d9ee1b7ab78,2046282b-d566-4902-9bb5-8d9ee1b7ab78,None,None
goal,None,2ad03aaa-1b35-4381-9c43-907b1b4eba67,2ad03aaa-1b35-4381-9c43-907b1b4eba67,2ad03aaa-1b35-4381-9c43-907b1b4eba67,2ad03aaa-1b35-4381-9c43-907b1b4eba67,2ad03aaa-1b35-4381-9c43-907b1b4eba67,2ad03aaa-1b35-4381-9c43-907b1b4eba67,2ad03aaa-1b35-4381-9c43-907b1b4eba67,2ad03aaa-1b35-4381-9c43-907b1b4eba67,2ad03aaa-1b35-4381-9c43-907b1b4eba67
linkedin account,9afe0061-746b-4bd7-807c-393fe5c7599d,b6ec0c6c-9ef1-40b0-9e33-9f65b4c4fe58,b6ec0c6c-9ef1-40b0-9e33-9f65b4c4fe58,b6ec0c6c-9ef1-40b0-9e33-9f65b4c4fe58,b6ec0c6c-9ef1-40b0-9e33-9f65b4c4fe58,b6ec0c6c-9ef1-40b0-9e33-9f65b4c4fe58,b6ec0c6c-9ef1-40b0-9e33-9f65b4c4fe58,b6ec0c6c-9ef1-40b0-9e33-9f65b4c4fe58,None,None
location,7afe0061-746b-4bd7-807c-393fe5c7599d,20f833e6-e8e8-457c-9ef1-bee84bf38bd4,20f833e6-e8e8-457c-9ef1-bee84bf38bd4,20f833e6-e8e8-457c-9ef1-bee84bf38bd4,20f833e6-e8e8-457c-9ef1-bee84bf38bd4,20f833e6-e8e8-457c-9ef1-bee84bf38bd4,20f833e6-e8e8-457c-9ef1-bee84bf38bd4,20f833e6-e8e8-457c-9ef1-bee84bf38bd4,290a3f52-e0ac-437e-bbb1-58745298644b,290a3f52-e0ac-437e-bbb1-58745298644b
motivation,6afe0061-746b-4bd7-807c-393fe5c7599d,None,None,None,None,None,None,None,None,None
online courses,None,b3a2d94c-892a-481d-96e3-b9d16f59e4db,b3a2d94c-892a-481d-96e3-b9d16f59e4db,None,None,b3a2d94c-892a-481d-96e3-b9d16f59e4db,None,None,b3a2d94c-892a-481d-96e3-b9d16f59e4db,b3a2d94c-892a-481d-96e3-b9d16f59e4db
phone,None,None,None,None,None,9012c2f8-fa97-4e0f-8097-9bf0de0e7af1,None,9012c2f8-fa97-4e0f-8097-9bf0de0e7af1,9012c2f8-fa97-4e0f-8097-9bf0de0e7af1,9012c2f8-fa97-4e0f-8097-9bf0de0e7af1
professional experience,None,6967091c-09c6-4455-9f1e-d0de318bacc5,6967091c-09c6-4455-9f1e-d0de318bacc5,6967091c-09c6-4455-9f1e-d0de318bacc5,6967091c-09c6-4455-9f1e-d0de318bacc5,6967091c-09c6-4455-9f1e-d0de318bacc5,6967091c-09c6-4455-9f1e-d0de318bacc5,6967091c-09c6-4455-9f1e-d0de318bacc5,6967091c-09c6-4455-9f1e-d0de318bacc5,6967091c-09c6-4455-9f1e-d0de318bacc5
programming skills,None,None,None,None,da04a859-199c-42cf-ab5d-6132bc529161,da04a859-199c-42cf-ab5d-6132bc529161,da04a859-199c-42cf-ab5d-6132bc529161,da04a859-199c-42cf-ab5d-6132bc529161,"[0f617540-5680-480c-aaf3-0663c17c3c7d, da04a85...","[0f617540-5680-480c-aaf3-0663c17c3c7d, da04a85..."
purpose,None,779c3b6c-3648-423b-8d3f-8a4f36f23e2a,779c3b6c-3648-423b-8d3f-8a4f36f23e2a,779c3b6c-3648-423b-8d3f-8a4f36f23e2a,779c3b6c-3648-423b-8d3f-8a4f36f23e2a,779c3b6c-3648-423b-8d3f-8a4f36f23e2a,779c3b6c-3648-423b-8d3f-8a4f36f23e2a,779c3b6c-3648-423b-8d3f-8a4f36f23e2a,779c3b6c-3648-423b-8d3f-8a4f36f23e2a,779c3b6c-3648-423b-8d3f-8a4f36f23e2a
python,None,8ea6732d-0ef9-489d-bf11-20673183a0c2,8ea6732d-0ef9-489d-bf11-20673183a0c2,8ea6732d-0ef9-489d-bf11-20673183a0c2,aec44d5b-0f97-4d79-bcd2-2a13c4d3c3cb,aec44d5b-0f97-4d79-bcd2-2a13c4d3c3cb,aec44d5b-0f97-4d79-bcd2-2a13c4d3c3cb,aec44d5b-0f97-4d79-bcd2-2a13c4d3c3cb,aec44d5b-0f97-4d79-bcd2-2a13c4d3c3cb,aec44d5b-0f97-4d79-bcd2-2a13c4d3c3cb
scholarship,1efe0061-746b-4bd7-807c-393fe5c7599d,None,None,None,None,None,None,None,None,None
tech skills,1dfe0061-746b-4bd7-807c-393fe5c7599d,None,None,None,None,None,None,None,None,None
theory skills,None,01f28833-152f-438d-a831-51e33583bde5,01f28833-152f-438d-a831-51e33583bde5,01f28833-152f-438d-a831-51e33583bde5,45781b84-093b-41c7-b5a4-c521f343bf21,45781b84-093b-41c7-b5a4-c521f343bf21,45781b84-093b-41c7-b5a4-c521f343bf21,45781b84-093b-41c7-b5a4-c521f343bf21,45781b84-093b-41c7-b5a4-c521f343bf21,45781b84-093b-41c7-b5a4-c521f343bf21
time commitment,1cfe0061-746b-4bd7-807c-393fe5c7599d,None,None,None,None,None,None,None,649699fa-2efc-4692-aba8-06821120481c,649699fa-2efc-4692-aba8-06821120481c

In [6]:
laurel = open('conn_laurel.txt', 'r')
conn_laurel = psycopg2.connect(laurel.read())

### C++

In [7]:
sql_cplus = """
SELECT distinct a.id,a.applicant_id,a.cohort_id,a.cohort_open_at,a.cohort_close_at,a.cohort_start_at
      ,a.application_created_at,a.submitted_at,a.accepted_at,a.first_charge_created_at
      ,'c++' AS tag,q.response
      ,CASE WHEN grad.graduated_at IS NOT NULL THEN 'graduated'
            WHEN b.user_id IS NOT NULL THEN 'term completed'
            WHEN a.first_charge_created_at IS NOT NULL THEN 'paid'
       ELSE 'accepted'
       END AS status
      ,CASE WHEN a.first_charge_created_at IS NOT NULL THEN 'paid' ELSE 'accepte' END AS paid_status
FROM applications a
LEFT JOIN admissions.question_responses q 
  ON a.id = q.application_id AND q.question_id IN ('7a09e78a-8000-459e-9d79-aa21db135138','9481dc6b-c4e9-4207-a30c-65c3ac302bf5')
  AND a.cohort_id = q.cohort_id
LEFT JOIN registrar_v2.graduations grad ON a.applicant_id = grad.user_key AND a.nd_key = grad.nd_key
LEFT JOIN enrollments.term_completions AS b ON a.applicant_id = b.user_id AND a.nd_key = b.nd_key
WHERE a.nd_key = 'nd013' AND a.cohort_id in ('47','88','89','18')
  AND a.application_status = 'accept';
"""
cplus = pd.read_sql(sql_cplus,conn_laurel)

In [8]:
cplus.groupby(['paid_status','status','response'])['id'].count()

paid_status  status          response
accepte      accepted        1-2 years              1135
                             2+ years               1505
                             < 1 year               1280
                             Level 0                  21
                             Level 1                 104
                             Level 2                 303
                             Level 3                 281
                             Level 4                 157
                             No prior experience     440
             graduated       1-2 years                 1
                             2+ years                  2
                             < 1 year                  2
             term completed  1-2 years                27
                             2+ years                 43
                             < 1 year                 19
                             Level 2                   1
                             Level 3                   5
                             Level 4                   4
                             No prior experience       5
paid         graduated       1-2 years                 7
                             2+ years                  6
                             < 1 year                  6
                             No prior experience       1
             paid            1-2 years               350
                             2+ years                527
                             < 1 year                339
                             Level 0                   7
                             Level 1                  23
                             Level 2                  66
                             Level 3                  78
                             Level 4                  45
                             No prior experience      89
             term completed  1-2 years               289
                             2+ years                536
                             < 1 year                290
                             Level 0                   2
                             Level 1                  12
                             Level 2                  40
                             Level 3                  63
                             Level 4                  37
                             No prior experience      72
Name: id, dtype: int64

In [9]:
pd.pivot_table(cplus, values='id', index=['response'],columns=['paid_status'], aggfunc=np.count_nonzero).reset_index()

paid_status             response  accepte  paid
0                      1-2 years     1163   646
1                       2+ years     1550  1069
2                       < 1 year     1301   635
3                        Level 0       21     9
4                        Level 1      104    35
5                        Level 2      304   106
6                        Level 3      286   141
7                        Level 4      161    82
8            No prior experience      445   162

In [10]:
pd.pivot_table(cplus, values='id', index=['response'],columns=['status'], aggfunc=np.count_nonzero).reset_index()

status             response  accepted  graduated   paid  term completed
0                 1-2 years    1135.0        8.0  350.0           316.0
1                  2+ years    1505.0        8.0  527.0           579.0
2                  < 1 year    1280.0        8.0  339.0           309.0
3                   Level 0      21.0        NaN    7.0             2.0
4                   Level 1     104.0        NaN   23.0            12.0
5                   Level 2     303.0        NaN   66.0            41.0
6                   Level 3     281.0        NaN   78.0            68.0
7                   Level 4     157.0        NaN   45.0            41.0
8       No prior experience     440.0        1.0   89.0            77.0

### degree relevant

In [11]:
sql_dr = """
SELECT distinct a.id,a.applicant_id,a.cohort_id,a.cohort_open_at,a.cohort_close_at,a.cohort_start_at
      ,a.application_created_at,a.submitted_at,a.accepted_at,a.first_charge_created_at
      ,'degree relevant' AS tag,q.response,regexp_split_to_table(q.response, ', ') as response_new
      ,CASE WHEN grad.graduated_at IS NOT NULL THEN 'graduated'
            WHEN b.user_id IS NOT NULL THEN 'term completed'
            WHEN a.first_charge_created_at IS NOT NULL THEN 'paid'
       ELSE 'accepted'
       END AS status
      ,CASE WHEN a.first_charge_created_at IS NOT NULL THEN 'paid' ELSE 'accepte' END AS paid_status
FROM applications a
LEFT JOIN admissions.question_responses q 
  ON a.id = q.application_id AND q.question_id IN ('cad2565e-8176-44b5-9080-14cfc67ea9b4')
  AND a.cohort_id = q.cohort_id
LEFT JOIN registrar_v2.graduations grad ON a.applicant_id = grad.user_key AND a.nd_key = grad.nd_key
LEFT JOIN enrollments.term_completions AS b ON a.applicant_id = b.user_id AND a.nd_key = b.nd_key
WHERE a.nd_key = 'nd013' AND a.cohort_id in ('47','88','89','18')
  AND a.application_status = 'accept';
"""
dr = pd.read_sql(sql_dr,conn_laurel)

In [12]:
pd.pivot_table(dr, values='id', index=['response_new'],columns=['paid_status'], aggfunc=np.count_nonzero).reset_index()

paid_status                         response_new  accepte  paid
0                               Computer science     3018  1556
1                                    Engineering     3448  1926
2                                    Mathematics     1020   629
3            Not related/relevant to Nanodegree.      147    73
4                                          Other      401   268

In [13]:
pd.pivot_table(dr, values='id', index=['response_new'],columns=['status'], aggfunc=np.count_nonzero).reset_index()

status,response_new,accepted,graduated,paid,term completed
0,Computer science,2958.0,16.0,825.0,775.0
1,Engineering,3371.0,15.0,986.0,1002.0
2,Mathematics,1000.0,9.0,330.0,310.0
3,Not related/relevant to Nanodegree.,146.0,NaN,51.0,23.0
4,Other,394.0,3.0,141.0,131.0

### Goal

In [14]:
sql_goal = """
SELECT distinct a.id,a.applicant_id,a.cohort_id,a.cohort_open_at,a.cohort_close_at,a.cohort_start_at
      ,a.application_created_at,a.submitted_at,a.accepted_at,a.first_charge_created_at
      ,'goal' AS tag,coalesce(lower(q.response),'no response') AS response
      ,array_length(regexp_split_to_array(lower(q.response), '\s'),1) As response_len
      ,case when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 10 then '0 - 10'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 20 then '10 - 20'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 30 then '20 - 30'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 40 then '30 - 40'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 50 then '40 - 50'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 80 then '50 - 80'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 100 then '80 - 100'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 200 then '100 - 200'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 300 then '200 - 300'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 400 then '300 - 400'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) <= 500 then '400 - 500'
            when array_length(regexp_split_to_array(lower(q.response), '\s'),1) > 500 then '> 500'
       else 'others' end AS response_length
      ,CASE WHEN grad.graduated_at IS NOT NULL THEN 'graduated'
            WHEN b.user_id IS NOT NULL THEN 'term completed'
            WHEN a.first_charge_created_at IS NOT NULL THEN 'paid'
       ELSE 'accepted'
       END AS status
      ,CASE WHEN a.first_charge_created_at IS NOT NULL THEN 'paid' ELSE 'accepted' END AS paid_status
FROM applications a
LEFT JOIN admissions.question_responses q 
  ON a.id = q.application_id AND q.question_id IN ('2ad03aaa-1b35-4381-9c43-907b1b4eba67')
  AND a.cohort_id = q.cohort_id
LEFT JOIN registrar_v2.graduations grad ON a.applicant_id = grad.user_key AND a.nd_key = grad.nd_key
LEFT JOIN enrollments.term_completions AS b ON a.applicant_id = b.user_id AND a.nd_key = b.nd_key
WHERE a.nd_key = 'nd013' AND a.cohort_id in ('47','88','89','18')
  AND a.application_status = 'accept'
"""
goal = pd.read_sql(sql_goal,conn_laurel)

In [15]:
paid = pd.pivot_table(goal, values='id', index=['response_length'],columns=['paid_status'], aggfunc=np.count_nonzero).reset_index()
paid['paid/accept'] = paid['paid']/paid['accepted']
paid['paid_rate'] = paid['paid']/(paid['paid']+paid['accepted'])
paid.sort_values(by='paid/accept',ascending=False)

paid_status response_length  accepted    paid  paid/accept  paid_rate
2                 100 - 200     734.0  1003.0     1.366485   0.577432
6                 300 - 400       6.0     7.0     1.166667   0.538462
4                 200 - 300      51.0    55.0     1.078431   0.518868
10                 80 - 100     332.0   302.0     0.909639   0.476341
9                   50 - 80     882.0   559.0     0.633787   0.387925
8                 400 - 500       2.0     1.0     0.500000   0.333333
7                   40 - 50     484.0   204.0     0.421488   0.296512
5                   30 - 40     561.0   223.0     0.397504   0.284439
3                   20 - 30     666.0   225.0     0.337838   0.252525
1                   10 - 20     848.0   193.0     0.227594   0.185399
0                    0 - 10     760.0   112.0     0.147368   0.128440
12                   others       9.0     1.0     0.111111   0.100000
11                    > 500       1.0     NaN          NaN        NaN

In [16]:
grad = pd.pivot_table(goal,values='id',index=['response_length'],columns=['status'],aggfunc=np.count_nonzero).reset_index().fillna(0)
grad['term_completed_total'] = grad['term completed']+grad['graduated']
grad['term_completed_total/paid'] = grad['term_completed_total']/grad['paid']
grad['term_completion_rate'] = grad['term_completed_total']/(grad['term_completed_total']+grad['paid'])
grad.sort_values(by='term_completed_total/paid',ascending=False)

status,response_length,accepted,graduated,paid,term completed,term_completed_total,term_completed_total/paid,term_completion_rate
8,400 - 500,2.0,0.0,0.0,1.0,1.0,inf,1.000000
4,200 - 300,45.0,0.0,25.0,36.0,36.0,1.440000,0.590164
0,0 - 10,749.0,3.0,58.0,62.0,65.0,1.120690,0.528455
2,100 - 200,716.0,6.0,484.0,531.0,537.0,1.109504,0.525955
10,80 - 100,322.0,3.0,149.0,160.0,163.0,1.093960,0.522436
6,300 - 400,5.0,0.0,4.0,4.0,4.0,1.000000,0.500000
5,30 - 40,544.0,4.0,126.0,110.0,114.0,0.904762,0.475000
1,10 - 20,836.0,4.0,109.0,92.0,96.0,0.880734,0.468293
9,50 - 80,864.0,1.0,311.0,265.0,266.0,0.855305,0.461005
7,40 - 50,475.0,1.0,123.0,89.0,90.0,0.731707,0.422535
3,20 - 30,659.0,3.0,134.0,95.0,98.0,0.731343,0.422414
12,others,9.0,0.0,1.0,0.0,0.0,0.000000,0.000000
11,> 500,1.0,0.0,0.0,0.0,0.0,NaN,NaN