# Goal text analysis - NB
# Bag of Words (BoW)

In [1]:
import psycopg2
import pandas as pd
import numpy as np
import seaborn as sns
import statsmodels.api as sm
import random
import re
import matplotlib.pyplot as plt
%matplotlib inline

/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
conn_laurel = psycopg2.connect("dbname='analytics' user='analytics' host='analytics.cv90snkxh2gd.us-west-2.rds.amazonaws.com' password='!TgP$Ol9Z&6QhKW0tmn9mOW5rYT2J8'")
conn_hardy = psycopg2.connect("dbname='analytics' user='u_yidong' host='udacity-segment.c2zpsqalam7o.us-west-2.redshift.amazonaws.com' port='5439' password='Lyd580809?!'")

In [3]:
sql_apps = "SELECT distinct a.id as application_id,a.cohort_id,a.applicant_id,a.nd_key,a.application_type\
      ,coalesce(a.applicant_country,'Unknown') as applicant_country\
      ,coalesce(a.applicant_geo,'Unknown') as applicant_geo\
      ,case when b.user_id is not null then 'term completed'\
            when a.first_charge_created_at is not null and a.accepted_at is not null then 'paid'\
            when a.accepted_at is not null then 'accepted'\
            when a.rejected_at is not null then 'rejected'\
            when a.submitted_at is not null then 'submitted'\
       else 'applied' end as application_status\
      ,current_date - a.applicant_created_at::date as user_age\
      ,a.cohort_notify_at::date - a.cohort_open_at::date as cohort_open_to_notify\
      ,a.cohort_close_at::date - a.cohort_open_at::date as cohort_open_to_close\
      ,date_part('month',a.cohort_open_at) as cohort_open_month\
      ,date_part('month',a.application_created_at) as application_month\
      ,a.application_created_at::date - a.cohort_open_at::date as apply_before_start\
      ,a.submitted_at::date - a.application_created_at::date as apply_to_submit\
      ,coalesce(a.accepted_at,a.rejected_at)::date - a.submitted_at::date as submit_to_decision\
      ,a.first_charge_created_at::date - a.accepted_at::date as accepted_to_pay\
      ,coalesce(a.price,0)::int as price\
       FROM admissions.applications as a\
       LEFT JOIN enrollments.term_completions as b ON a.applicant_id = b.user_id and a.nd_key = b.nd_key\
       WHERE accepted_at is not null and first_charge_created_at is not null\
         AND email not like '%@udacity%';"

df_apps = pd.read_sql(sql_apps,conn_laurel)
df_apps.head()

,application_id,cohort_id,applicant_id,nd_key,application_type,applicant_country,applicant_geo,application_status,user_age,cohort_open_to_notify,cohort_open_to_close,cohort_open_month,application_month,apply_before_start,apply_to_submit,submit_to_decision,accepted_to_pay,price
0,7f1445ac-47e1-436f-8e6f-00ebd4ce1849,100,438378724,nd209,term,US,US,paid,142,92,86,5.0,7.0,78,7.0,6.0,8,1000
1,901f9f0b-ee17-4e6d-b600-0ad134469825,111,8614139656,nd889,term,VN,APAC,paid,204,63,42,6.0,7.0,14,0.0,49.0,6,800
2,bfe67758-061f-499d-9f90-75b7740d2cfa,89,5826052963,nd013,term,HK,APAC,paid,92,43,35,8.0,8.0,0,0.0,44.0,3,800
3,2e907b25-b170-4f7b-88ba-fef9ff47db69,89,10858398158,nd013,term,US,US,paid,73,43,35,8.0,9.0,19,0.0,25.0,4,800
4,67744fad-3cba-45c8-966c-d3461b1cf095,18,9164852935,nd013,term,TW,APAC,paid,251,88,70,2.0,3.0,34,0.0,52.0,6,800

In [4]:
sql_course = "select application_id,cohort_id,user_id AS applicant_id,nanodegree_key AS nd_key\
       ,count(distinct course_key) as num_courses\
       ,count(distinct case when course_finished = 2 then course_key else null end) as num_course_finished\
       ,count(distinct case when course_finished = 1 then course_key else null end) as num_course_enrolled\
       ,current_date - first_course_started_at::date AS user_study_age\
 from (select distinct b.application_id,b.cohort_id,a.user_id,b.nanodegree_key,course_key,join_time,leave_time\
             ,first_value(join_time) over (partition by a.user_id order by join_time rows between unbounded preceding and unbounded following) as first_course_started_at\
             ,case when a.leave_time::Date <= b.received_at::Date then 2\
                   when a.leave_time is not null then 1 \
              else 0 end as course_finished\
       from analytics_tables.course_enrollments as a\
       inner join backend_admissions.application_received as b on a.user_id = b.user_id\
       where a.join_time <= b.received_at\
      ) group by application_id,cohort_id,user_id,nanodegree_key,current_date - first_course_started_at::date"

df_course = pd.read_sql(sql_course,conn_hardy)
df_course.head()

,application_id,cohort_id,applicant_id,nd_key,num_courses,num_course_finished,num_course_enrolled,user_study_age
0,1ed781d0-0bdd-484e-9ff2-b4009acc63ce,47,10000388979,nd013,10,0,7,371
1,4801e0db-445a-48bf-a0d5-5a083a51b345,us-google-nov-2017,10004733008,grow-with-google-scholarships,4,0,0,368
2,d49aa935-aae9-45e2-bbfc-5c50fd9647b1,89,10005299798,nd013,5,3,0,370
3,b0424aec-6f6c-40d5-b65a-451a7b10235d,us-google-nov-2017,10008232548,grow-with-google-scholarships,7,0,0,367
4,b110a444-abb7-45f6-8ddf-4266494d8fb5,us-google-nov-2017,10010703795,grow-with-google-scholarships,4,0,0,366

In [5]:
df = pd.merge(df_apps,df_course,on=['application_id','cohort_id','applicant_id','nd_key'],how='inner')
df.head()

,application_id,cohort_id,applicant_id,nd_key,application_type,applicant_country,applicant_geo,application_status,user_age,cohort_open_to_notify,...,application_month,apply_before_start,apply_to_submit,submit_to_decision,accepted_to_pay,price,num_courses,num_course_finished,num_course_enrolled,user_study_age
0,7f1445ac-47e1-436f-8e6f-00ebd4ce1849,100,438378724,nd209,term,US,US,paid,142,92,...,7.0,78,7.0,6.0,8,1000,32,0,0,1461
1,901f9f0b-ee17-4e6d-b600-0ad134469825,111,8614139656,nd889,term,VN,APAC,paid,204,63,...,7.0,14,0.0,49.0,6,800,6,5,0,511
2,bfe67758-061f-499d-9f90-75b7740d2cfa,89,5826052963,nd013,term,HK,APAC,paid,92,43,...,8.0,0,0.0,44.0,3,800,5,0,0,698
3,67744fad-3cba-45c8-966c-d3461b1cf095,18,9164852935,nd013,term,TW,APAC,paid,251,88,...,3.0,34,0.0,52.0,6,800,17,0,0,422
4,d6b15b2e-6d50-4d18-9433-77259defac3f,111,u13145857,nd889,term,US,US,paid,120,63,...,7.0,28,0.0,35.0,5,800,31,28,1,1501

In [6]:
# paid students only
#nd013 and nd209 has most examples
data = df.loc[df['application_status'].isin(['paid','term completed'])]
data['application_status'] = data['application_status'].map({'paid':0,'term completed':1})

In [7]:
# questions
sql_questions = "select distinct application_id,cohort_id,applicant_id,nd_key\
                        ,question_id,question_prompt,response,question_prompt||' A:'||response as q_r\
                from admissions.question_responses\
                where application_type != 'scholarship' and response is not null\
                  and question_id in ('48e7b492-62b4-4d99-b596-80d68f2966ae','cad2565e-8176-44b5-9080-14cfc67ea9b4','fba3666b-db04-46e9-8f3d-2a303f13e0a5','26330483-09a3-444a-b534-e9cd7021ec1c','42b96348-56c4-4e3b-b0f9-8d3911969e48','516737fe-4567-48d2-8645-08d335e21b0c','0c22dbaa-bf1d-4c67-be34-a61014591d6f','2ad03aaa-1b35-4381-9c43-907b1b4eba67','6afe0061-746b-4bd7-807c-393fe5c7599d','779c3b6c-3648-423b-8d3f-8a4f36f23e2a','1346c396-a687-4082-a10e-d3556ac50b4b','1cfe0061-746b-4bd7-807c-393fe5c7599d','ed06fc88-6a59-40a8-b7ea-ece90d83c333','fa332682-b62e-4791-b95f-c528b532a754','e42e1049-e459-4602-ae4b-cb78098dcf89','01f28833-152f-438d-a831-51e33583bde5','7c55f3cc-1c0b-4d95-97f9-cc3409e3145f','a633a338-9726-472a-a0ff-0d8695b30638','f1a93ec7-e2cd-46b6-ba28-2f36b30539a9','6967091c-09c6-4455-9f1e-d0de318bacc5','011ef02c-abea-476d-afdc-d1aa8a456b94','0f617540-5680-480c-aaf3-0663c17c3c7d','1dfe0061-746b-4bd7-807c-393fe5c7599d','20f21bd0-eb3e-4898-ae1f-eb994f9ce823','45781b84-093b-41c7-b5a4-c521f343bf21','47d35057-b1fb-4106-8218-7e551497420e','491b500b-26a2-425b-b142-00773f1d1938','5cf34496-6bc3-4c8d-9c6a-7c037f48669f','70ffc637-2162-484a-b863-3a1a1469f106','7a09e78a-8000-459e-9d79-aa21db135138','823a8248-b7d7-4dbe-a619-2969ca453f1e','8afe0061-746b-4bd7-807c-393fe5c7599d','8ea6732d-0ef9-489d-bf11-20673183a0c2','9481dc6b-c4e9-4207-a30c-65c3ac302bf5','995331ea-092b-4b71-8122-a0c65214c765','9d5c6390-a690-4d6d-8aaa-c60a772b4550','a26ac91f-c263-49f1-8171-9821bc4d2da5','a71ff6e3-1b33-4e11-94f1-5b94d786b5ab','a7b7f95b-1924-4189-840e-b5c407545908','ae155453-72b2-4247-8da5-dced5270f29b','bdc024d8-7712-48ff-b86e-292be1df0d9f','d3b0e6c7-0601-4651-851f-7ef4bea1aa6d','d8f9089c-c3a5-4d77-9c37-ae248e134e42','d9af077d-b729-4971-84b8-f86f390789c1','da04a859-199c-42cf-ab5d-6132bc529161','dc898f2e-1810-4d93-9db0-f381778d45e1','f254514a-26f4-4d29-83af-711c27d4862d','f34c024a-b446-464e-add0-558c9eb8a3c8','fa537969-017a-4816-a317-b5883305c723')"
df_questions = pd.read_sql(sql_questions,conn_laurel)
df_questions.head()

,application_id,cohort_id,applicant_id,nd_key,question_id,question_prompt,response,q_r
0,0001883b-f88d-4662-afea-717fbba580a0,129,4746120864,nd889,2ad03aaa-1b35-4381-9c43-907b1b4eba67,What do you hope to accomplish through this pr...,I am currently writing Machine Learning Code a...,What do you hope to accomplish through this pr...
1,0001883b-f88d-4662-afea-717fbba580a0,129,4746120864,nd889,48e7b492-62b4-4d99-b596-80d68f2966ae,What is the highest level of education you hav...,Master's degree,What is the highest level of education you hav...
2,0001883b-f88d-4662-afea-717fbba580a0,129,4746120864,nd889,516737fe-4567-48d2-8645-08d335e21b0c,What gender do you most identify with?,Male,What gender do you most identify with? A:Male
3,0001883b-f88d-4662-afea-717fbba580a0,129,4746120864,nd889,6967091c-09c6-4455-9f1e-d0de318bacc5,How many years of professional experience do y...,5+ years,How many years of professional experience do y...
4,0001883b-f88d-4662-afea-717fbba580a0,129,4746120864,nd889,779c3b6c-3648-423b-8d3f-8a4f36f23e2a,What is your primary purpose in taking this pr...,Grow skills for my current role,What is your primary purpose in taking this pr...

In [8]:
cols = ['application_id','cohort_id','applicant_id','nd_key','application_status']
df_qr = pd.merge(data[cols],df_questions,on=['application_id','cohort_id','applicant_id','nd_key'],how='inner')
df_qr.shape

(46133, 9)

In [65]:
#data
df_goal = df_qr.loc[(df_qr['question_id']=='2ad03aaa-1b35-4381-9c43-907b1b4eba67')
                   |(df_qr['question_id']=='6afe0061-746b-4bd7-807c-393fe5c7599d')].reset_index()
#df_goal = df_goal.assign(goal='')

In [66]:
df_goal.head()

,index,application_id,cohort_id,applicant_id,nd_key,application_status,question_id,question_prompt,response,q_r
0,1,7f1445ac-47e1-436f-8e6f-00ebd4ce1849,100,438378724,nd209,0,2ad03aaa-1b35-4381-9c43-907b1b4eba67,What do you hope to accomplish through this pr...,"Through the Robotics program, I hope to join t...",What do you hope to accomplish through this pr...
1,13,901f9f0b-ee17-4e6d-b600-0ad134469825,111,8614139656,nd889,0,2ad03aaa-1b35-4381-9c43-907b1b4eba67,What do you hope to accomplish through this pr...,"I want to improve my Machine Learning skills, ...",What do you hope to accomplish through this pr...
2,22,bfe67758-061f-499d-9f90-75b7740d2cfa,89,5826052963,nd013,0,2ad03aaa-1b35-4381-9c43-907b1b4eba67,What do you hope to accomplish through this pr...,My personnel goal in to work on interesting an...,What do you hope to accomplish through this pr...
3,33,67744fad-3cba-45c8-966c-d3461b1cf095,18,9164852935,nd013,0,2ad03aaa-1b35-4381-9c43-907b1b4eba67,What do you hope to accomplish through this pr...,It is my desire to help change the social envi...,What do you hope to accomplish through this pr...
4,43,d6b15b2e-6d50-4d18-9433-77259defac3f,111,u13145857,nd889,0,2ad03aaa-1b35-4381-9c43-907b1b4eba67,What do you hope to accomplish through this pr...,I had a non-traditional accession route to my ...,What do you hope to accomplish through this pr...

In [67]:
df_goal.groupby(['application_status'])['application_id'].count()

application_status
0    3737
1     706
Name: application_id, dtype: int64

In [68]:
goal = set(df_goal['response'])

In [69]:
#lower case
#df_goal['goal'] = df_goal['response'].apply(lambda x: x.lower())
goal_lower_case = []
for i in goal:
    goal_lower_case.append(i.lower())

In [70]:
#remove punctuation
import string
#df_goal['goal'] = df_goal['goal'].apply(lambda x: x.translate(str.maketrans('','',string.punctuation)))
goal_remove_punctuation = []
for i in goal_lower_case:
    goal_remove_punctuation.append(i.translate(str.maketrans('', '', string.punctuation)))

In [71]:
#remove common words
import nltk
#nltk.download(stopwords)
from nltk.corpus import stopwords
stopWords = set(stopwords.words('english'))
goal_remove_common_words = []
for i in goal_remove_punctuation:
    goal_remove_common_words.append(' '.join([w for w in i.split() if w not in stopWords]))

In [72]:
df_goal_columns = df_goal.columns
df_goal = pd.concat([df_goal,pd.DataFrame(goal_remove_common_words)],axis=1)
df_goal.columns = df_goal_columns.insert(9,'goal_processed')

In [73]:
def text_process(x):
    import string
    import nltk
    from nltk.corpus import stopwords
    stopWords = set(stopwords.words('english'))   
    x = str(x).lower()
    x.translate(str.maketrans('', '', string.punctuation))
    return ' '.join([w for w in x.split() if w not in stopWords])

In [74]:
df_goal = df_goal.assign(goal_processed = df_goal['response'].apply(lambda x: text_process(x)))

In [75]:
#tokenization
#df_goal['goal'] = df_goal['goal'].apply(lambda x: x.split(' '))
processed_goal = []
for i in goal_remove_common_words:
    processed_goal.append(i.split(' '))

In [76]:
#count frequencies
import pprint
from collections import Counter

frequency_list = []

for i in processed_goal:
    frequency_counts = Counter(i)
    frequency_list.append(frequency_counts)
#pprint.pprint(frequency_list)

# impletemnt BoW in scikit-learn

In [77]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()

In [78]:
print(count_vector)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [79]:
#count_vector.fit(goal)
count_vector.fit(goal_remove_common_words)
count_vector.get_feature_names()

['0001',
 '0017485',
 '002',
 '01102017',
 '02082017',
 '02also',
 '052011',
 '0f',
 '10',
 '100',
 '1000',
 '10000',
 '100000',
 '100k',
 '100m',
 '100s',
 '101016jprocs201701022',
 '101109ghtc20167857255',
 '1015',
 '1020',
 '107977',
 '10in1',
 '10k',
 '10year',
 '10years',
 '11',
 '110',
 '11000',
 '110pound',
 '110th',
 '116',
 '117',
 '11th',
 '12',
 '120',
 '12000',
 '1230',
 '12mm',
 '12th',
 '12year',
 '12yrs',
 '13',
 '13000',
 '135',
 '135150',
 '139',
 '14',
 '140',
 '14000',
 '141',
 '145150',
 '146133',
 '14hfp',
 '15',
 '1516',
 '153',
 '15million',
 '15y',
 '15yrs',
 '16',
 '168031',
 '16th',
 '17',
 '1700',
 '171200',
 '1741',
 '17b',
 '18',
 '180',
 '1802air',
 '1822',
 '18hours',
 '19',
 '1973',
 '1980s',
 '1983',
 '1990s',
 '1992',
 '1994',
 '1996',
 '1998',
 '199899',
 '1999',
 '19th',
 '1design',
 '1ed',
 '1i',
 '1knowing',
 '1m',
 '1month',
 '1s',
 '1st',
 '1system',
 '1trackcc',
 '1using',
 '1year',
 '20',
 '200',
 '2000',
 '20000',
 '200000',
 '2001',
 '20012002',
 '2002',
 '2004',
 '20042006',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '20112013',
 '2012',
 '2013',
 '20132014',
 '20132015',
 '20132016',
 '2014',
 '2015',
 '2016',
 '2017',
 '201710352967x',
 '20172018',
 '2017beginning',
 '2018',
 '20182019',
 '2020s',
 '2025',
 '2048puzzle',
 '20bn',
 '20mil',
 '20s',
 '20th',
 '20yrs',
 '21',
 '21st',
 '22',
 '224d',
 '23',
 '2382017but',
 '24',
 '2400',
 '247',
 '248223',
 '2488',
 '24hour',
 '25',
 '250m',
 '25b',
 '25dut',
 '26',
 '26262',
 '26th',
 '27',
 '27l',
 '27th',
 '28ghz',
 '28th',
 '294',
 '29yearold',
 '2d',
 '2g3g4g',
 '2i',
 '2improving',
 '2lead',
 '2nd',
 '2ndplace',
 '2sdcnd',
 '2wheeled',
 '2year',
 '2yrs',
 '30',
 '300',
 '3000',
 '3050',
 '30k',
 '30l',
 '30m',
 '30s',
 '31',
 '32',
 '3287',
 '34',
 '35',
 '35000',
 '360',
 '365',
 '37840',
 '3794',
 '3854',
 '3883',
 '39',
 '396',
 '3a',
 '3communicating',
 '3d',
 '3dof',
 '3dprinted',
 '3dprinter',
 '3e',
 '3gpp',
 '3kw',
 '3month',
 '3pi',
 '3rd',
 '3selecting',
 '3th',
 '40',
 '400',
 '4000',
 '400cc',
 '42',
 '4288',
 '43',
 '45',
 '46',
 '4800',
 '4bar',
 '4building',
 '4d',
 '4g',
 '4gl',
 '4k',
 '4month',
 '4satisfying',
 '4th',
 '50',
 '500',
 '5000',
 '50km',
 '510',
 '52',
 '52517',
 '55',
 '56',
 '57',
 '57m',
 '5g',
 '5kg',
 '5mcc',
 '5star2',
 '5th',
 '5years',
 '60',
 '600',
 '6070',
 '60kyear',
 '61010',
 '64',
 '66kw',
 '67',
 '67th',
 '68',
 '69',
 '6month',
 '6s094',
 '6x6',
 '6year',
 '6years',
 '70',
 '700',
 '70000',
 '70s',
 '711',
 '72',
 '720hour',
 '737',
 '74',
 '75',
 '760mph',
 '77',
 '777x',
 '787',
 '788580',
 '7yrs',
 '80',
 '800km',
 '80211p',
 '8024',
 '80s',
 '80searly',
 '8200',
 '823',
 '82nd',
 '84',
 '85',
 '88',
 '8924147',
 '8930132',
 '8bit',
 '8puzzle',
 '8th',
 '90',
 '905',
 '906',
 '90s',
 '910',
 '911',
 '9361377',
 '94',
 '960',
 '97',
 '977',
 '98',
 '980',
 '99',
 '999',
 '9bmetricsgyrometrics',
 '9pm',
 '9th',
 'a2',
 'a2dp',
 'a320neo',
 'a380',
 'a3c',
 'aa',
 'aachen',
 'aai',
 'aalborg',
 'aamas',
 'aaron',
 'aas',
 'abaapplied',
 'abap',
 'abb',
 'abbeel',
 'abc',
 'abhishek',
 'abilities',
 'ability',
 'able',
 'abnormal',
 'abovementioned',
 'abreast',
 'abroad',
 'abs',
 'absesc',
 'absolutely',
 'absolving',
 'absorb',
 'absorbed',
 'absorber',
 'abstract',
 'abtain',
 'abu',
 'abumostafa',
 'abundant',
 'abzooba',
 'acad',
 'acadamic',
 'academia',
 'academic',
 'academical',
 'academically',
 'academicians',
 'academicprofessional',
 'academicresearch',
 'academics',
 'academy',
 'academyby',
 'acc',
 'accel',
 'accelarate',
 'accelerate',
 'accelerates',
 'accelerating',
 'acceleration',
 'accelerator',
 'accelerators',
 'acceleratorsinterrupts',
 'accelerometer',
 'accelerometers',
 'accelerometersgyroscopic',
 'accent',
 'accenture',
 'accept',
 'acceptable',
 'acceptance',
 'accepted',
 'accepting',
 'access',
 'accessibility',
 'accessible',
 'accessing',
 'accession',
 'accessory',
 'accident',
 'accidentprobability',
 'accidentproof',
 'accidents',
 'acclaimable',
 'accommodate',
 'accommondate',
 'accompany',
 'accomplish',
 'accomplished',
 'accomplishes',
 'accomplishing',
 'accomplishment',
 'accomplishments',
 'accomplishmentwise',
 'accordance',
 'according',
 'accordingly',
 'account',
 'accountability',
 'accountable',
 'accountant',
 'accounts',
 'accquire',
 'accreditation',
 'accrued',
 'accruing',
 'accumulate',
 'accumulated',
 'accumulating',
 'accuracy',
 'accuracy0973684',
 'accuracy0991169',
 'accurate',
 'accurately',
 'accustomed',
 'ace',
 'aced',
 'achieve',
 'achievecreate',
 'achieved',
 'achievement',
 'achievements',
 'achievements1i',
 'achieving',
 'achievments',
 'achilles',
 'achived',
 'acknowledge',
 'acm',
 'acomplish',
 'acomplished',
 'acoustic',
 'acquaint',
 'acquaintances',
 'acquainted',
 'acquiere',
 'acquire',
 'acquired',
 'acquires',
 'acquiring',
 'acquisition',
 'acquisitions',
 'acres',
 'across',
 'act',
 'acted',
 'acting',
 'action',
 'actionable',
 'actions',
 'actionscript',
 'active',
 'actively',
 'actives',
 'activisionblizzard',
 'activities',
 'activity',
 'actor',
 'actors',
 'actual',
 'actually',
 'actuarial',
 'actuary',
 'actuarysoftware',
 'actuated',
 'actuation',
 'actuationroboticsetc',
 'actuator',
 'actuators',
 'acumen',
 'ad',
 'adaequare',
 'adams',
 'adapt',
 'adapted',
 'adapters',
 'adapting',
 'adaptions',
 'adaptive',
 'adapts',
 'adas',
 'adc',
 'add',
 'added',
 'addicted',
 'addiction',
 'addin',
 'adding',
 'addition',
 'additional',
 'additionally',
 'additionaly',
 'additions',
 'addon',
 'address',
 'addressed',
 'addresses',
 'addressing',
 'adds',
 'adept',
 'adequate',
 'adequately',
 'adhere',
 'adhoc',
 'adi',
 'adjacent',
 'adjust',
 'adjustment',
 'adjustments',
 'adjusts',
 'admas',
 'admin',
 'administration',
 'administrator',
 'administratorsince',
 'admiration',
 'admire',
 'admission',
 'admissions',
 'admit',
 'admitted',
 'admitting',
 'adobe',
 'adopt',
 'adopted',
 'adopter',
 'adopters',
 'adopting',
 'adoption',
 'adopts',
 'adquirir',
 'adrian',
 'ads',
 'adtech',
 'adult',
 'adults',
 'advance',
 'advanced',
 'advancement',
 'advancements',
 'advancementsbenefits',
 'advances',
 'advancing',
 'advantage',
 'advantageous',
 'advantages',
 'advent',
 'adventure',
 'adversarial',
 'advertise',
 'advertised',
 'advertisement',
 'advertising',
 'advertisingtelecom',
 'advice',
 'advise',
 'advised',
 'advising',
 'advisor',
 'advocate',
 'aeb',
 'aecom',
 'aehf',
 'aerial',
 'aero',
 'aeroacoustics',
 'aerodesign',
 'aerodynamical',
 'aerodynamics',
 'aeromechanical',
 'aeromodellingrc',
 'aeronautical',
 'aeronautics',
 'aerospace',
 'aeryon',
 'aesthetic',
 'afar',
 'affairs',
 'affect',
 'affected',
 'affecting',
 'affective',
 'affects',
 'affiliated',
 'affinity',
 'afford',
 'affordable',
 'afis',
 'aforementioned',
 'afraid',
 'africa',
 'african',
 'aftersales',
 'afterschool',
 'aftertreatment',
 'afterward',
 'afterwards',
 'afterwork',
 'ag',
 'again',
 'age',
 'agencies',
 'agency',
 'agenda',
 'agent',
 'agentbased',
 'agents',
 'agentsjust',
 'agentsnodes',
 'agerelated',
 'ages',
 'aggregate',
 'aggregating',
 'aggregation',
 'aggressive',
 'aggressively',
 'agile',
 'aging',
 'agl',
 'ago',
 'agoda',
 'agoura',
 'agraculrure',
 'agrarian',
 'agreed',
 'agreement',
 'agreements',
 'agricultural',
 'agriculture',
 'agricultureocean',
 'agropecuarie',
 'agrorobotics',
 'agvs',
 'ahead',
 'ahrs',
 'ai',
 'ai4r',
 'aiaa',
 'aiam',
 'aiautonomous',
 'aibased',
 'aibig',
 'aichatbot',
 'aid',
 'aide',
 'aided',
 'aideep',
 'aides',
 'aidriven',
 'aids',
 'aieee',
 'aienabled',
 'aienriched',
 'aifocused',
 'aii',
 'ailment',
 'ailments',
 'aim',
 'aima',
 'aimachine',
 'aimed',
 'aiming',
 'aiml',
 'aimlcv',
 'aimldm',
 'aimlrelated',
 'aimlrobotics',
 'aimlvision',
 'aims',
 'aind',
 'aipowered',
 'air',
 'airbag',
 'airbus',
 'aircondition',
 'aircraft',
 'aircrafts',
 'airelated',
 'airhockey',
 'airline',
 'airlines',
 'airlinesrailshotels',
 'airobotic',
 'airobotics',
 'airoboticsselfdriving',
 'airplane',
 'airport',
 'airports',
 'airship',
 'airspace',
 'airstream',
 'ais',
 'aiselfdriving',
 'aiso',
 'ait',
 'aitechniques',
 'aiwhen',
 'aka',
 'akihabara',
 'al',
 'alabama',
 'alarm',
 'albeit',
 'albertas',
 'alcatel',
 'alden',
 'alert',
 'alerts',
 'alevel',
 'alex',
 'alexa',
 'alexander',
 'alexnet',
 'alfaromeo',
 'algebra',
 'algebracalculus',
 'algebraconvex',
 'algo',
 'algorighms',
 'algorithims',
 'algorithm',
 'algorithmapplication',
 'algorithmic',
 'algorithmics',
 'algorithms',
 'algorithmsais',
 'algorithmsbut',
 'algorithmscnn',
 'algorithmsmachine',
 'algorithmsmethodssystems',
 'algorithmsmodels',
 'algoritm',
 'algoritms',
 'algorthims',
 'algos',
 'algoyithm',
 'algoythm',
 'align',
 'aligned',
 'alignment',
 'aligns',
 'alipay',
 'alive',
 'aljazeera',
 'allegedly',
 'allen',
 'alleviating',
 'allianz',
 'allin',
 'allocate',
 'allocated',
 'allot',
 'allow',
 'allowed',
 'allowing',
 'allows',
 'allpurpose',
 'allstate',
 'allterrain',
 'alma',
 'almerin',
 'almost',
 'alogrithm',
 'alone',
 'along',
 'alongside',
 'alorithms',
 'alot',
 'alpha',
 'alphabeta',
 'alphas',
 'already',
 'alreadyinuse',
 'also',
 'alsoi',
 'alstom',
 'alta',
 'altair',
 'alternate',
 'alternative',
 'although',
 'altimetry',
 'altitude',
 'alto',
 'altogether',
 'altran',
 'alumni',
 'alway',
 'always',
 'alzheimers',
 'amadeus',
 'amalgamates',
 'amalgamation',
 'amateur',
 'amav',
 'amazed',
 'amazement',
 'amazes',
 'amazing',
 'amazon',
 'ambition',
 'ambitions',
 'ambitious',
 'amd',
 'america',
 'american',
 'americans',
 'americas',
 'ames',
 'amesim',
 'amherst',
 'amit',
 'amod',
 'amol',
 'among',
 'amongst',
 'amount',
 'amounts',
 'amphibious',
 'amplifier',
 'amrita',
 'amusement',
 'amusing',
 'amwill',
 'anaconda',
 'anacondaspyder',
 'analog',
 'analogdigital',
 'analogfirmware',
 'analogous',
 'analogpower',
 'analogue',
 'analyse',
 'analysed',
 'analyses',
 'analysing',
 'analysis',
 'analysisdesignmanual',
 'analyst',
 'analystengineer',
 'analystprogram',
 'analysts',
 'analystscientist',
 'analystsoftware',
 'analytic',
 'analytical',
 'analytics',
 'analyticsedge',
 'analyticsmachine',
 'analyze',
 'analyzed',
 'analyzer',
 'analyzes',
 'analyzing',
 'andor',
 'andrei',
 'andrej',
 'andrew',
 'andrews',
 'android',
 'andy',
 'angeles',
 'angle',
 'angles',
 'angular',
 'angular2',
 'angularjs',
 'animal',
 'animals',
 'animation',
 'animations',
 'animi',
 'ankara',
 'anki',
 'ann',
 'anna',
 'annealing',
 'annotated',
 'annotation',
 'announced',
 'announcement',
 'announcements',
 'anns',
 'annual',
 'annually',
 'anomalies',
 'anomaly',
 'another',
 'ans',
 'ansaldobreda',
 'ansible',
 'answer',
 'answering',
 'answers',
 'ansys',
 'ant',
 'antenna',
 'antennas',
 'antennasfrontendmodules',
 'anthropomorphic',
 'anticipating',
 'anticompetitive',
 'antitrust',
 'anton',
 'anxiety',
 'anybody',
 'anyhow',
 'anymore',
 'anyone',
 'anything',
 'anytime',
 'anyway',
 'anyways',
 'anywhere',
 'aosp',
 'aoutonomous',
 'ap',
 'apache',
 'apart',
 'apartment',
 'aperture',
 'apex',
 'api',
 'apiai',
 'apis',
 'apollo',
 'apologize',
 'aposteriori',
 'app',
 'apparent',
 'appealed',
 'appealing',
 'appeals',
 'appear',
 'appearance',
 'appears',
 'appiled',
 'apple',
 'appliance',
 'appliances',
 'applicability',
 'applicable',
 'applicant',
 'applicants',
 'applicatin',
 'application',
 'applications',
 'applicationsi',
 'applied',
 'applies',
 'apply',
 'applying',
 'appointment',
 'apppication',
 'appplied',
 'appproachesparticularly',
 'appreciate',
 'appreciated',
 'appreciation',
 'approach',
 'approaches',
 'approaching',
 'appropriate',
 'appropriately',
 'approve',
 'approved',
 'approx',
 'approximate',
 'approximately',
 'approximation',
 'apps',
 'apptechnology',
 'april',
 'apriori',
 'aproaching',
 'apron',
 'apropos',
 'apt',
 'aptitude',
 'aptitudes',
 'aptly',
 'apts',
 'aquaculture',
 'aquarium',
 'aquire',
 'ar',
 'arbitrary',
 'arbor',
 'arc',
 'arcas',
 'archictecting',
 ...]

In [80]:
doc_array = count_vector.transform(goal).toarray()
doc_array

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [81]:
frequency_matrix = pd.DataFrame(doc_array, 
                                columns = count_vector.get_feature_names())
frequency_matrix.head(5)

,0001,0017485,002,01102017,02082017,02also,052011,0f,10,100,...,å¯¹äºŽæ— äººé©¾é©¶æ±½è½¦è¿™ä¸ªé¡¹ç›®æœ‰ç€æµ“åŽšçš„å…´è¶£,å¸Œæœ›é€šè¿‡æœªæ¥èƒ½å¤Ÿå¼€å‘å‡ºæ›´ä½Žæˆæœ¬å’Œèƒ½è€—çš„ä¸“æœ‰èŠ¯ç‰‡,å¹¶ä¸”æ‰“ç®—æ¯•ä¸šåŽ»ç¾Žå›½ç»§ç»­å­¦ä¹ è®¡ç®—æœº,å¹¶ä¸”æ¸´æœ›ä»¥åŽåœ¨èƒ½å¤Ÿåœ¨ç¡…è°·å·¥ä½œ,æˆ‘æƒ³é€šè¿‡è¿™æ¬¡å­¦ä¹ ç§¯æ”’æ›´å¤šçš„é¡¹ç›®ç»éªŒ,æˆ‘æœ¬äººåœ¨åŒ—èˆªè¯»è®¡ç®—æœºç§‘å­¦çš„ç¡•å£«å­¦ä½,æ‰€ä»¥æˆ‘å¸Œæœ›èƒ½åœ¨è¿™æ¬¡è¯¾ç¨‹ä¸­å­¦å¤šæ›´å¤šperfectçš„çŸ¥è¯†,ç”³è¯·å·,é€šè¿‡å­¦ä¹,ï½‰use
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# training/test set

In [82]:
from sklearn.cross_validation import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df_goal['goal_processed'], 
                                                    df_goal['application_status'], 
                                                    random_state=1)

print('Number of rows in the total set: {}'.format(df_goal.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 4443
Number of rows in the training set: 3332
Number of rows in the test set: 1111

In [83]:
pd.DataFrame(y_train).groupby('application_status')['application_status'].count()

application_status
0    2795
1     537
Name: application_status, dtype: int64

In [84]:
pd.DataFrame(y_test).groupby('application_status')['application_status'].count()

application_status
0    942
1    169
Name: application_status, dtype: int64

In [85]:
training_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

In [86]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [87]:
predictions = naive_bayes.predict(testing_data)

In [88]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.8415841584158416
Precision score:  0.1111111111111111
Recall score:  0.005917159763313609
F1 score:  0.011235955056179775

In [89]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, predictions)

array([[934,   8],
       [168,   1]])

In [90]:
d_1 = df_goal.loc[df_goal['application_status']==1].reset_index()
d_2 = df_goal.loc[df_goal['application_status']==0].reset_index()
n = d_1.shape[0]
d_2_s = d_2.iloc[random.sample(range(d_2.shape[0]),n),:]
d = pd.concat([d_1,d_2_s],axis = 0)
d.groupby(['application_status'])['application_id'].count()

application_status
0    706
1    706
Name: application_id, dtype: int64

In [91]:
X_train, X_test, y_train, y_test = train_test_split(d['goal_processed'], 
                                                    d['application_status'], 
                                                    random_state=1)

print('Number of rows in the total set: {}'.format(d.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 1412
Number of rows in the training set: 1059
Number of rows in the test set: 353

In [92]:
training_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

In [93]:
naive_bayes = MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)
naive_bayes.fit(training_data, y_train)
predictions = naive_bayes.predict(testing_data)
confusion_matrix(y_test, predictions)

array([[ 98,  81],
       [ 63, 111]])

In [94]:
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.5920679886685553
Precision score:  0.578125
Recall score:  0.6379310344827587
F1 score:  0.6065573770491803

In [95]:
feature_coef = pd.concat([pd.DataFrame(count_vector.get_feature_names())
                          ,pd.DataFrame(naive_bayes.coef_[0])
                          ,pd.DataFrame(naive_bayes.feature_log_prob_[0])],axis=1)

In [96]:
feature_coef.columns = ['feature','coef','feature_log_prob']

In [97]:
feature_coef.sort_values(by='feature_log_prob',ascending=False)[:50]

           feature      coef  feature_log_prob
3278      learning -4.225488         -4.299220
1758       driving -4.293542         -4.781898
5007          self -4.467448         -4.898661
4837      robotics -5.029861         -4.921864
294             ai -5.519667         -4.974888
3404       machine -4.875710         -5.025661
3322          like -5.106234         -5.068220
6170         would -5.229987         -5.079149
2231         field -4.991395         -5.084659
6038          want -5.260385         -5.171168
3194     knowledge -5.064777         -5.195560
4408       program -5.311028         -5.207982
1355        course -5.069866         -5.214252
6146          work -5.298125         -5.220561
1508          deep -5.291735         -5.233300
3275         learn -5.357548         -5.252718
6154       working -5.330701         -5.292724
5147        skills -5.413507         -5.320311
2720          hope -5.480447         -5.370501
898            car -4.945304         -5.392807
2085    experience -5.428000         -5.487366
335           also -5.324101         -5.495664
1199      computer -5.527699         -5.512471
902         career -5.428000         -5.564657
1461          data -5.804686         -5.564657
1936      engineer -5.472784         -5.573626
568     autonomous -5.138495         -5.591808
5185      software -5.929140         -5.591808
4420      projects -5.665850         -5.610327
2891      industry -5.703590         -5.610327
6198         years -5.577296         -5.619717
3770    nanodegree -5.783633         -5.638765
1937   engineering -5.703590         -5.698189
2508          goal -5.694021         -5.708445
2659          help -5.917164         -5.718808
2484           get -5.675152         -5.718808
3818           new -5.428000         -5.718808
5499       systems -5.713252         -5.729279
913           cars -5.337346         -5.783346
1426     currently -5.804686         -5.805819
4943       science -6.270444         -5.817248
4419       project -5.917164         -5.840505
6164         world -6.304930         -5.876437
2974  intelligence -6.456161         -5.888707
5680          time -5.905330         -5.901129
1523        degree -6.017248         -5.913708
5565    technology -5.804686         -5.926447
466     artificial -6.476780         -5.939351
3114           job -6.173594         -5.952423
5834       udacity -6.189098         -5.979091